body.interior {
	@if $isAMP != 'true' {
		
		&.news {
			.sidebar {
				margin-top: -50px;
			}

			#content-header {
				.wrapper {
					padding: 25px 0 50px;
				}
			}

			#content {
				.articleBody {
					margin-bottom: 15px;
					min-height: 300px;
					
					@include break(mobile) {
						margin-bottom: 25px;
					}
				}
				
			}
			.col-1-3-last {
				@include break(v-tablet){
					display: none;
				}
				.SideRectAd{
						padding-top: 40px;
					}
			}
			#comments{
				@include break(mobile){
					display: none;
				}
			}
		}
	}

	// -----------------------
	// For Both: Normal & AMP
	// -----------------------

	#content {
		@if $isAMP == 'true' {
			.intro-video {
				margin-top: -50px;
				margin-bottom: -20px;
			}
			.intro-image {
				height: auto;
				border: none;
				margin: -30px 0 0;
			}
		}

		@if $isAMP != 'true' {

			.intro-pic {
				position: relative;
				padding-bottom: 75%;
				overflow: hidden;
				width: 100%;
				height: 0;
				display: block;
				margin-top: -52px;
				margin-bottom: 30px;

				&.img-white {
					border: 4px solid #eee;
				}

				@include break(mobile){
					margin-bottom: 25px;
					border: none;
				}
			}

			.intro-image {
				width: 100%;
				height: auto;
			}

		}
	}

	&.news {
		#content-header {
			.title-group {
				em {
					font-style: normal;
					font-size: .7em;
					line-height: 30px;
					color: black;

					@include break(v-mobile) {
						font-size: .65em;
					}

					a {
						color: black;
						font-weight: 500;
						border-bottom: 1px solid #ccc;
						padding-bottom: 3px;

						@if $isAMP != 'true' {
							&:hover {
								border-bottom: 1px solid #ff7f00;
							}
						}
					}

					@if $isAMP != 'true' {
						span.numCom {
							padding-left: 12px;
							margin-left: 10px;
							border-left: 2px solid #ccc;

							a {
								font-weight: 400;
								color: #5a6169;

								@include break(mobile) {
									background: url(https://#{$staticServer}.techspot.com/images/icon-comments-lg.svg) no-repeat;
									background-size: 22px;
									padding-left: 27px;
									background-blend-mode: luminosity;
									border: none;
								}
							}
						}

						span.sponsored {
							background-color: #495693;
							margin: 0 4px 0 0;
							padding: 4px 10px;
							text-align: center;
							color: white;
							font-weight: 600 !important;
						}
					}
					@else {
						span.numCom {
							padding-left: 12px;
							margin-left: 10px;
							border-left: 2px solid #ccc;

							a {
								font-weight: 400;
								color: #5a6169;
								background: url(https://#{$staticServer}.techspot.com/images/icon-comments-lg.svg) no-repeat;
								background-size: 22px;
								padding-left: 27px;
								background-blend-mode: luminosity;
								border: none;
							}
						}
					}
				}
			}
		}
	}

	@if $isDesk == 'true' {
	.related-products {
		margin: -5px 0 35px;

		&.related-stories {
			margin: 0 0 30px;
			display: block !important;

			@include break(v-tablet){
				margin: 0;
			}

			ul.teaser-list {
				height: 250px;

				li {
					height: 250px;

					span.img-wrap {
						height: 215px;
						padding: 20px;
					}

					.feat {
						position: relative;
						top: 10px;
						font-size: 1.4em;
						font-weight: 500;
						text-shadow: 1px 1px 3px #444;
						line-height: 1.5;
						display: inline;
						padding: 4px 4px 6px 0px;
						background: rgba(40, 51, 60, 0.6);
						box-shadow: 0.45em 0 0 0 rgba(40, 51, 60, 0.6), -20px 0 0 0 rgba(40, 51, 60, 0.6);
					}
				}

			}

		}

		&.related-query {
			margin: 5px 0 20px;

			@include break(mobile){
				margin: 0 0 20px;
			}

			ul {
				font-family: $f-paragraph;
				font-size: .90em;
				line-height: 1.5;
				
				li {
					padding-bottom: 10px;
				}
			}
		}

		& > h3 {
			line-height: 2.7;
			font-size: 1em;
			font-weight: 400;
			letter-spacing: -0.333px;

			a {
				color: #1e2833;
			}
			strong {
				font-weight: 500;
			}
		}

		ul.teaser-list {
			width: 100%;
			height: 140px;

			li {
				font-size: .7em;
				height: 140px;
				background-position: center center;
				background-repeat: no-repeat;
				overflow: hidden;
				background-size: cover;
				@include border-radius(2px);

				&.one {
					@include col(1,1,0);
				}

				&.two {
				@include col(1,2,2);
					&:nth-child(2) {
						@include col-last(1,2,2);
					}
				}

				&.three {
					@include col(1,3,1.5);

					&:nth-child(3) {
						@include col-last(1,3,1.5);
					}

					/*
					@include break(mobile){
						@include col(1,1,0);

						&:nth-child(3) {
							@include col-last(1,1,0);
						}
					}
					*/
				}

				&.four {
					@include col(1,4,1.5);
					&:nth-child(4) {
						@include col-last(1,4,1.5);
					}

					/*
					@include break(mobile){
						@include col(1,2,2);
						width: 47%;

						&:nth-child(4) {
							@include col-last(1,2,2);
							width: 47%;
							margin-right: 4%;
						}
					}

					@include break(v-mobile){
						@include col(1,1,0);

						&:nth-child(4) {
							@include col-last(1,1,0);
						}
					}
					*/

				}

				a {
					display: block;
					padding: 0;
				}

				span.img-wrap {
					display: block;
					position: relative;
					height: 140px;
					padding-bottom: 0;
					margin-bottom: 10px;
					//background: linear-gradient(200deg, rgba(19,25,31,0) 15%, rgba(19,25,31,0.77) 90%);
					//background: linear-gradient(305deg, rgba(19,25,31,0) 10%, rgba(13,72,142,0.6) 45%);
					background: linear-gradient(305deg, rgba(19, 25, 31, 0.05) 10%, rgba(13, 72, 142, 0.35) 45%);

					&:hover {
						//background: linear-gradient(200deg, rgba(255,127,0,0.35) 25%, rgba(31,41,51,0.67) 70%);
						background: linear-gradient(305deg, rgba(19, 25, 31, 0.05) 10%, rgba(13, 72, 142, 0.5) 45%);
					}

					img {
						width: 100%;
						height: auto;
					}
				
					.rating {
						font-family: $f-helvetica;
						font-weight: 500;
						color: white;
						font-size: 1.9em;
						position: absolute;
						display: inline-block;
						padding: 0 13px;
						line-height: 160%;
						top: 10px;
						right: 10px;
						border-radius: 2px;

						&.excellent {
							@include trans-bg($c-excellent,.8);
						}
						&.good {
							@include trans-bg($c-good,.8);
						}
						&.average {
							@include trans-bg($c-average,.8);
						}
						&.bad {
							@include trans-bg($c-bad,.8);
						}
						&.none {
							display: none;
						}
					}
				}

				.feat {
					font-size: 1.25em;
					font-weight: 500;
					letter-spacing: -0.25px;
					line-height: 1.4em;
					text-shadow: 1px 1px 4px #444;
					color: white !important;
					padding: 0px 20px;
					position: absolute;
					bottom: 15px;
				}

				.reviews {
					color: #333;
					font-size: 0.9em;
					font-weight: 400;
					padding: 2px 8px;
				}
			}
		}
	}
	} // end isDesk

	.related-query {
		margin: -10px 0 20px;

		@include break(mobile) {
			margin: -10px 0 0;
		}

		h3 {
			font-weight: 400;
			padding: 10px 0 15px;
		}

		ul {
			margin: 0 0 35px 0;

			@include break(mobile) {
				margin: 0;
			}
			
			li {
				@if $isAMP == 'true' {
					font-family: $f-paragraph;
					margin-bottom: 14px;
					letter-spacing: -0.25px;
					font-size: 0.85em;
					line-height: 1.4em;
				} @else {
					margin-bottom: 14px;
					list-style-type: none;
					letter-spacing: -0.25px;
					font-size: 0.85em;
				}

			}
		}
	}


	.social-widget {
		//width: 60px;
		//border-bottom: 5px solid $orange;
		margin: 0 auto;
		background: white;

		@include break(mobile){
			width: 98%;
			height: 35px;
			border-bottom: 0px solid $orange;

			&.zero {
				border-right: 7px solid $orange;
				li {
					&.social {
						&.facebook {
							margin-left: 12.5%;
						}
						&.twitter {
							margin-left: 12.5%+17*1;
						}
						&.reddit {
							margin-left: 12.5%+17*3;
						}
						/*
						&.rss {
							margin-left: 12.5%+17*3;
						}
						*/
						&.whatsapp {
							margin-left: 12.5%+17*2; 
						}
						&.comments {
							margin-left: 12.5%+17*4;
						}
					}
				}
			}
		}

		li {	
			&.social-count {
				background-color: $orange;
				color: white;
				text-align: center;
				//font-size: 0.7em;
				//line-height: 25px;
				font-weight: 500;

				@include break(mobile) {
					display: inline-block;
					height: inherit;
					width: 25%;
					margin-bottom: 0px;
					font-size: 1em;
					line-height: 33px;
				}

				&.zero {
					//border-top: 5px solid $orange;
					@include break(mobile) {
						border-top: none;
						display: block;
						width: 7px;
					}
				}
			}
			
			&.social {

				@if $isDesk == 'true' {
					background-image: url('https://#{$staticServer}.techspot.com/images/btnShare.svg?v=#{$social-icons-version}');
				}

				background-repeat: no-repeat;
				background-color: white;
				line-height: 16px;
				position: relative;

				.SocialHover{
					display: none;

					.WidgetArea {
						padding: 7px 0 0 7px;
						z-index: 999;
					}
				}

				&.facebook {
					background-position: left 0;

					@if $isDesk == 'true' {
						&:hover{
							background-color: #3b5998;
							background-position: right 0;
						}
					}
				}
				
				&.twitter {
					background-position: left -35px;

					@if $isDesk == 'true' {
						&:hover{
							background-color: #00aced;
							background-position: right -35px;
						}
					}
				}


				&.reddit {
					background-position: left -175px;

					@if $isDesk == 'true' {
						&:hover{
							background-color: #E18C4B;
							background-position: right -175px;
						}
					}
				}
				
				&.rss {
					background-position: left -105px;

					@if $isDesk == 'true' {
						&:hover {
							background-color: #f07422;
							background-position: right -105px;
						}
					}
				}

				&.whatsapp {
					background-position: left -175px;

					@if $isDesk == 'true' {
						&:hover {
							background-color: #f07422;
							background-position: right -175px;
						}
					}
				}
				
				&.comments {
					background-position: left -140px;

					@if $isDesk == 'true' {
						&:hover {
							background-color: #4b75b7;
							background-position: right -140px;
						}
					}
				}
				
				a {
					display: block;
					text-indent: -9999px;
					line-height: 35px;
				}

				@if $isDesk == 'true' {
				&:hover {
					.SocialHover {
						width: 100px;
						height: 100%;
						position: absolute;
						z-index: 99999999;
						background-color: white;
						right: 60px;
						top: 0;
						display: block;

						/*
						@include break(mobile){
							right: 0 !important;
							top: auto !important;
						}
						*/
					}
				}
				}//desk

				@include break(mobile){
					background-image: url('https://#{$staticServer}.techspot.com/images/social-widget-bg-91.svg?v=#{$social-icons-version}');
					margin-left: 30%;
					margin-top: -30px;
					width: 32px;

					/*
					&:hover {
						background: none;
						border-radius: 40px;
						height: 25px;
						width: 26px !important;
					}
					*/

					&.facebook {
						width: 32px;
						margin-left: 30%;
						background-position: 0px 1px;
					}

					&.twitter {
						width: 32px;
						margin-left: 30%+13.5*1;
						background-position: -32px 1px;
					}

					&.whatsapp {
						width: 30px;
						margin-left: 30%+13.5*2;
						background-position: -158px 1px;
					}

					&.reddit {
						width: 32px;
						margin-left: 30%+13.5*3;
						background-position: -189px 1px;
					}
					
					/*
					&.rss {
						width: 30px;
						margin-left: 30%+13.5*3;
						background-position: -97px 1px;
					}
					*/
					
					&.comments {
						width: 32px;
						margin-left: 30%+13.5*4;
						background-position: -125px 2px;
					}
					
					a {
						display: block;
						text-indent: -9999px;
						line-height: 30px;
					}
				}
			}
		}
	}


	@if $isAMP != 'true' {

		#mobComBut {
			display: none;
			text-align: center;
			padding: 40px 0 60px;
			background-color: $light-grey;
			@include break(mobile){
				display: block;
			}
		}
		.ComBut {
			font-size: 1em;
			display: block;
			padding-top: 5px;
			height: 45px;
			line-height: 42px;
			font-weight: 500;
			border: solid 1px #aaa;
			@include border-radius(3px);
			@include gradient-trans($start_color:#1E2933,$start_alpha:0,$end_color:#1E2933,$end_alpha:0.1);

			span {
				margin-top: -2px;
				display: block;
			}
			
			span.count {
				background: #7393C8;
				border-radius: 100px;
				min-width: 15px;
				display: inline-block;
				color: white;
				padding-left: 5px;
				padding-right: 5px;
				line-height: 24px;
				margin-left: 5px;
			    font-size: 0.95em;

				&.many {
					background: #c00;
				}
			}
		}

	} @else {

		#mobComBut {
			text-align: center;
			padding: 15px 0 40px;

			&.solo {
				padding: 15px 0;
			}
		}

		.ComBut {
			font-size: 1em;
			display: block;
			padding-top: 5px;
			height: 45px;
			line-height: 42px;
			font-weight: 500;
			border: solid 1px #aaa;
			@include border-radius(3px);
			@include gradient-trans($start_color:#1E2933,$start_alpha:0,$end_color:#1E2933,$end_alpha:0.1);

			span {
				margin-top: -2px;
				display: block;
			}
			
			span.count {
				background: #7393C8;
				border-radius: 100px;
				min-width: 15px;
				display: inline-block;
				color: white;
				padding-left: 5px;
				padding-right: 5px;
				line-height: 24px;
				margin-left: 5px;
			    font-size: 0.95em;

				&.many {
					background: #c00;
				}
			}
		}

	}

}

.grid-posts-lineal {
	
	@if $isAMP != 'true' {
	    margin: 25px 0 -10px;

	    .img-wrap {
			height: 240px;
			background-size: cover;
	    }
	}

	h4 {
		color: #333;
		margin: 7px 2px 35px;
		line-height: 1.35;
		font-weight: 400;
		font-size: 0.9em;
		letter-spacing: -0.333px;
	}
}

// more AMP fixes
// --------------
@if $isAMP == 'true' {

// SERIES CSS
	.clicktoplay {
		display: none;
	}
	.triangleLogo {
	    max-width: 80px;
	    width: 80px;
	    margin: 0 10px 10px 0;
	    float: left;
	}

	/*
	//removed this, in favor of mobile button
	body.interior {
		.comment-count-block {
			background-image: url('https://#{$staticServer}.techspot.com/images/icon-comments-lg.svg');
			background-repeat: no-repeat;
			background-position: left 5px;
			height: 42px;
			overflow: visible;
			letter-spacing: -.333px;
			font-family: $f-primary;
			filter: grayscale(90%);

			@if $isAMP == 'true' {
				margin: 0 0 40px 0;
			} @else {
				float: left;

				&:hover {
					filter: grayscale(40%);
				}
				
				@include break(mobile) {
					margin: 0 0 30px 0;
				}
			}

			&.article {
				margin-top: 20px;
			}

			&.features {
				font-size: 0.8em;
				font-weight: 400;

				@if $isAMP == 'true' {
					line-height: 2;

					height: 42px;
					margin-bottom: 15px;

				} @else {
					line-height: 2 !important;
					height: 100px;

					@include break(mobile) {
						height: 42px;
						margin-bottom: 15px;
					}
				}	
				
				.count {
					font-size: 1.2em;
					font-weight: 500;
				}

				a {
					display: inline;
					padding-left: 0;
				}

				ul {
					li {
						padding-left: 60px;
					}
				}
			}

			a {
				display: block;
				line-height: 140%;
				padding-left: 60px;

				@if $isAMP == 'true' {
					box-shadow: none;
				} @else {
					box-shadow: none !important;
				}
				
				span {
					display: block;
					font-size: 1em;
					
					&.comment-count {
						color: $red;

						@if $isAMP != 'true' {
							&:hover {
								font-weight: 500;
							}
						}
					}
					&.interactions-count {
						color: #39579D;
						font-size: .86em;
						line-height: 1.75;
					}
				}
			}
		}
	}
	*/

} //amp