body.dark {

	&.interior {

		&.news {
			#content-header {
				.title-group {
					em {
						span {
							&.numCom {
								a {
									color: #c9c9c9;
								}
							}
						}
					}
				}
			}
			#mobComBut {
				background: $dark-back;
			}
		}

		.comment-count-block {
			filter: grayscale(50%);
			&:hover {
				filter: grayscale(30%);
			}
			a {
				span {
					&.comment-count {
						color: $dark-link-hov-orange;
					}
					&.interactions-count {
						color: #ccc;
					}
				}
			}
		}

		.polls .slide-holder {
		    filter: invert(1) hue-rotate(180deg) saturate(0.3) contrast(2);

		    .poll-answers .answer.complete {
			    &:before {
				    color: #000;
			    }
			}
		}

		.related-query {
			h3 {
				a {
					color: #fff;
				}
			}
			ul {
				li {
					a {
						color: #ccc;
	
						&:hover {
							color: #5992d5;
						}
					}
				}
			}
		}

		.related-products {
			& > h3 {
				span {
					&.video {
						color: #ccc;
					}
				}
			}
		}
		.ComBut {
			border: solid 1px #5e7394;
			background: #1b1f24;
		}
		nav {
			&.page-nav {
				a {
					span {
						color: #bbb;
					}
					strong {
						color: #fff;
					}
				}
			}
		}

	}

}