.post-list {

	article {
		padding-bottom: 20px;
		margin-bottom: 17px;
		border-bottom: 2px solid #F2F4F8;
		z-index: 1;
		
		.article-img {
			@include col(2,5,0);
			width: 30%;
			margin-top: 4px;

			img {
				max-width: 100%;
				height: auto;
				width: 250px;
			}

			@include break(v-mobile) {
				a {
					display: inline-block;
					height: 106px;
					width: 100%;
					background: #f3f3f3;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
			}
		}
		
		.article-content {
			@include col-last(3,5,2);
			width: 67%;

			@include break(v-mobile) {
				padding-left: 3px;
			}

			h2 {
				padding: 8px 0 2px;

				@include break(mobile) {
					padding: 6px 0 2px;
				}

				a {
					font-family: $f-helvetica-roboto;
					line-height: 1.4;
					color: #1e2833;
					font-weight: 500;

					@if $isDesk == 'true' {
						font-size: 1.15em;
							&:hover {
								color: #105ab2;
							}
					}
					@else {
						font-size: 1em;
					}

					&.hover {
						color: #105ab2;
					}
				}
			}


			&.featured {
				@include break(mobile) {
					h2 {
				    	padding: 10px 0 4px;
					}
				}

				.post-meta {
					@include break(mobile) {
						margin-top: -2px;
						padding-top: 0;
					}
				}
			}

			@if $isDesk == 'true' {
				&.fullview {
					h2 {
						a {
							font-size: 1.4em;
						}
					}
				}
			}

			.article-category {
				font-size: .7em;
				letter-spacing: -.25px;
				margin-top: 5px;

				@include break(mobile){
					margin-top: 2px;
				}

				a {
					&.cat2 {
						padding-left: 10px;
					}
				}
			}
			
			.intro {
				font-size: .85em !important;
				font-weight: 400;
				line-height: 1.5;
				padding: 7px 0 3px;
				color: #757575 !important;
				letter-spacing: -.2px;

				strong {
					font-weight: 500;
				}

				@include break(mobile){
					padding: 4px 0 0px;
				}

				&.feat-top {
					@include break(mobile){
						display: inline;

						p {
							display: none;
						}
						p:last-child {
							display: block;
						}
						img {
							padding: 0 0 5px;
						}
					}
				}
				&.feat {
					@include break(mobile){
						display: inline;
						
						p {
							padding: 7px 0 !important;
						}
						p:last-child {
							display: none;
						}
					}
				}

				picture {
					position: relative;
					padding-bottom: 75%;
					overflow: hidden;
					width: 100%;
					height: 0;
					display: block;

					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate3d(-50%,-50%,0);
					}
				}

				img {
					max-width: 100%;
					height: auto !important;
				}

				&.trendload {
					img {
						display: none;
					}
				}

				p {
					padding: 0 0 15px !important;
					font-family: $f-primary !important;
				}

				p:last-child {
					padding: 0 !important;
				}
			}

			.byline {
				color: #666666;
				font-weight: 400;
				letter-spacing: -0.25px;
				line-height: 2.5;
				font-size: .7em;
				
				@include break(v-mobile){
					font-size: .6em;
				}

				a.author {
					color: inherit;
				}

				a.feat {
					color: #c00;
					text-decoration: none;
					font-weight: 500;
					padding: 0 8px 0 0;
				}

				span.fullstory {
					font-weight: 500;
					letter-spacing: 0px;
					padding-bottom: 4px;
					box-shadow: inset 0 -3px 0 #ffc082;
				}

				em {
					font-style: normal;
					padding-left: 11px;
					margin-left: 8px;
					border-left: 1px solid #aaa;
					display: inline-block;
					line-height: 9px;

					a {
						&.cat2 {
							padding-left: 10px;
						}
					}
				}				
			}
			
			.post-meta {
				line-height: 25px;
				float: right;
				padding-top: 5px;

				a {
					display: inline-block;
					color: #4e5a66;
					font-weight: 400;
					background-repeat: no-repeat;
					background-position: left center;
					padding-left: 15px;
					margin-right: 10px;

					@if $isAMP == 'true' {
						font-size: .6em;
					} @else {
						font-size: .7em;
						@include break(mobile){
							font-size: .6em;
						}
					}
					
					@if $isAMP != 'true' {
						&:hover {
							color: $red;
						}
					}
					
					&.comment-count {
						background-image: url('https://#{$staticServer}.techspot.com/images/comment-icon.svg');
						padding-left: 15px;
						
						span {
							display: inline-block;
							background: darken(#f0f0f0,5%);
							padding: 0 4px;
							line-height: 18px;
							margin-left: 2px;
							@include border-radius(2px);
							
							&.highlight {
								font-family: $f-helvetica;
								font-size: 90%;
								background: #CCC;
								color: white;
								-webkit-font-smoothing: subpixel-antialiased;
								
								@if $isAMP == 'true' {
									&.no {
										display: none;
									}
									&.big {
										background: #0a5499;
									}
									&.bigger {
										background: #075bc0;
									}
									&.biggest {
										background: $red;
									}
								} @else {
									&.no {
										display: none;
									}
									&.big {
										background: #0a5499 !important;
									}
									&.bigger {
										background: #075bc0 !important;
									}
									&.biggest {
										background: $red !important;
									}
								}
							}							
						}
						
					}
					
				}
			}
			
		}
		
		.no_image {
			width: 100% !important;
			padding-left: 0;
		}
		
	}
	article:last-of-type {
		border-bottom: none;
		padding: 0;
		margin-bottom: 5px;
	}

	.ad_to_list {
		padding-bottom: 26px;
		margin-bottom: 23px;
		border-bottom: 2px solid #F2F4F8;
		z-index: 1;

		&.two {
			padding-bottom: 5px;
		}

		center {
			width: 90%;
			margin: 0 auto;
		}
	}

	@if $isAMP != 'true' {
		.group-left {
			margin: 50px 0 0 0;
		}
	}

	@if $isAMP != 'true' {
	@if $isDesk == 'true' {
		&.fullview {

			max-width: 98%;

			h5 {
				padding: 7px 0 0 0 !important;
				font-size: 17px !important;

				strong {
					font-weight: 500;
				}
			}
			time {
				font-size: 13px;
			}
			p {
				font-size: 17px;
				padding: 0 0 20px !important;
				font-weight: 400;
			}
			img {
				max-width: 100% !important;
				height: auto!important;
				padding-top: 20px;
			}

			ul {
				margin-left: 5%;
				margin: 25px;
				font-size: 0.85em;
				font-family: $f-paragraph;
				line-height: 1.5;

				li {
					list-style-type: square;
					margin-bottom: 10px;
				}
			}

			.video-container {
				clear: both;
			}

			blockquote {
				margin: 5px 20px 25px 0px;
				padding: 15px 10px 0px 15px;
				border-left: 3px solid #ccc;
			}

			blockquote.twitter-tweet, twitterwidget.twitter-tweet {
				@if $isAMP == 'true' {
					margin: 7px auto;
					margin-bottom: 25px;
				} @else {
					margin: 7px auto !important;
					margin-bottom: 25px !important;
				}
			}

			iframe {
				&.twitter-tweet {
					@if $isAMP == 'true' {
						margin: 7px auto;
						margin-bottom: 25px;
					} @else {
						margin: 7px auto !important;
						margin-bottom: 25px !important;
					}
				}
			}
		}
	}//desk
	}//amp
}