body.dark {
	color: $darkmode-text;
	background-color: $dark-back;

	#GlobalWrapper {
		background-color: $dark-back;
	}

	#content p.side-quote {
		color: $dark-link;
	}

	.post-list article .article-content .article-category a,
	.post-list article .article-content .byline a,
	.post-list article .article-content .intro p a,
	.post-list article .article-content .intro a,
	.post-list .fullview p a,
	.comments-pager ol li a,
	.bbCodeBlock-sourceJump,
	.recently-commented-stories a,
	.CommentOpt a,
	&.about article a,
	table.article-table a,
	#comments .signin_text a {
		color: $dark-link;
		&:hover { color: $dark-link-hov; }
	}

	&.article .articleBody p a, &.news .articleBody p a {
		box-shadow: inset 0 -2px 0 #76797d;

		&:hover {
			box-shadow: inset 0 -2px 0 #c1966c;
		}

	}

	&.article .articleBody p a:hover,
	&.news .articleBody p a:hover {
		color: $dark-link-hov-orange;
	}

	#content, #content.white, &.interior.white #content {
		background-color: $dark-back;
	}

	.cta, .adContainerNews {
		background-color: $dark-back !important;
	}

	.post-list {

		.futuregreen {
			color: #5fce8b;
		}

		.ad_to_list {
			border-color: #3e464e;
		}

		article {
			border-bottom: 2px solid #3e464e;
			.article-content {
				h2 {
					a {
						color: $darkmode-heads;
						&:hover {
							color: $dark-link-hov-orange;
						}
						&.hover {
							color: $dark-link-hov-orange;
						}
					}
				}
				.byline {
					color: #c9c9c9;
					a {
						&.feat {
							color: #f09942;
						}
					}
				}
			}
		}
	}

	h1, h2, h3, h4, h5 {
		color: $darkmode-heads;

		a {
			color: $darkmode-heads;

			&:hover {
				color: $dark-link-hov-orange;
			}
		}
	}

	&.interior {
		h1, h2, h3, h4, h5 {
			color: $darkmode-heads;
		}

		&.category {
			#content-header {
				background: #30363e !important;
			}
		}

		.articleBody {
			ul, ol {
				li {
					color: #ddd;

					a {
						color: $dark-link;
						&:hover { color: $dark-link-hov; }
					}
				}
			}

			.polls .slide-holder {
			    filter: invert(1) hue-rotate(180deg) saturate(0.3) contrast(2);

			    .poll-answers .answer.complete {
				    &:before {
					    color: #000;
				    }
				}
			}

			img.dark-image {
				filter: invert(0.9) hue-rotate(180deg);
			}
		}
	}

	.masthead {
		background-color: $dark-back;
	}

	&.reviews {
		.masthead {
			background-color: $dark-back;
		}
	}
	&.features {
		.masthead {
			background-color: #255a44;
		}
	}
	&.products {
		.masthead {
			background-color: #5f6872;
		}
	}

	&.news .cta,
	&.download .cta,
	&.category .cta,
	&.product .cta {
		background: #30363e !important;
	}

	.grid-posts {
		&.grid-section {
			background: $dark-back;
		}
	}

	&.home {
		.masthead {
			background-color: #29333D;
			ul {
				&.featured-posts {
					li {
						overflow: hidden;
					}
				}
			}
		}
		.grid-posts {
			&.grid-section {
				background: #29333D;
			}
		}
		.cta {
			background: #29333D !important;

			&.darkb {
				background-color: rgba(30,41,51,0.95);
			}
		}
	}

	&.about {
		h4 {
			color: #aaa;
		}
		.intro {
			a {
				box-shadow: inset 0 -1px 0 $dark-link-hov-orange;
				color: #e0e0e0;
			}
		}
		.article-index section {
		    background: #3b4753 !important;
		}
	}

	#content p.grey, #content p.grey a,
	#content p.byline, #content p.byline a {
		color: #ccc;
		border: none;
	}

	#content {
		p {
			&.grey {
				a {
					&:hover {
						border-bottom: 1px solid $dark-link-hov-orange;
						box-shadow: none;
					}
				}
			}
			&.side-guest {
				background-color: #535e69;
			}
		}
	}

	.downloads-list ul li .title a,
	.download-index .downloads-table h2 a,
	.downloads-picks li a h3 {
		color: $darkmode-heads !important;
	}

	.downloads-list ul li .title a:hover,
	.downloads-list ul li .title a.hover,
	.download-index .downloads-table h2 a:hover {
		border-bottom: none!important;
		color: $dark-link-hov-orange!important;
	}

	h3.subtitle, h3.subtitle a {
		color: #5e8bc1 !important;
	}

	#content #why-it-matters, #content h5,
	#content #why-it-matters a:hover,
	#content h5 a:hover {
		color: $darkmode-heads;
	}
	#content #why-it-matters strong, #content h5 strong {
		color: #81ade2;
	}

	#content h5.introhome{
		color: #e3e3e3;

		@include break(mobile) {
			color: #C9C9C9;
		}
	}

	ul {
		&.category-chicklets {
			li {
				opacity: 0.9;
				&.wof {
					background-color: #648012;
				}
			}
		}
		&.pills {
			opacity: 0.9;
		}
	}

	#content p {
		color: #f0f0f0;
	}

	.sidebar ul.teaser-list li a,
	.section-header a {
		color: #e0e0e0;
	}


	.download-list li>a, .forum-list li>a {
		color: #ccc;
	}
	.download-list li>a:hover, .forum-list li>a:hover {
		color: $darkmode-heads;
	}
	.download-list li span, .forum-list li span {
		color: #7d7d7d;
	}

	.slide-sort-selector {
		border-bottom: 2px solid #535E69 !important;
		.post-type-selector {
			ul {
				li {
					text-shadow: none;
					&.active {
						a {
							color: #eaeaea !important;
						}
					}
				}
			}
		}
		li {
			&.indicator {
				border-bottom: 5px solid #535E69 !important;
			}
		}
		.layout-selector {
			li {
				&.active {
					a {
						color: #888;
					}
				}
				&.full {
					margin-right: 10px;
				}
			}
		}
	}

	.post-list article .article-content .intro,
	&.interior.download .downloads-list ul li .bio {
		color: #c9c9c9 !important;
	}
	
	&.interior.news #content-header .title-group h2,
	&.interior.product #content-header .title-group h2,
	&.interior.category #content-header .title-group h2,
	&.interior.download #content-header .title-group h2 {
		color: #ddd !important;
	}

	&.interior.news #content-header .title-group em,
	&.interior.news #content-header .title-group em a,
	&.interior .social-share-svg .social-share-text {
		color: #c9c9c9 !important;
	}

	.grid-posts-lineal h4, .grid-posts-lineal .gr-title, .grid-posts-lineal h4 {
		color: #ebebeb;
	}

	#comments #add-new-comment {
		background-color: #2a323d;
		border: 1px solid transparent;
		color: $darkmode-text;
	}

	.post-load-more,
	.comments-pager ol li,
	.post-list article .article-content .post-meta a.comment-count span.highlight,
	&.interior.product #content a.wide-button,
	&.interior.product #content a.wide-button:hover,
	.more_description_dw,
	.more_similars_dw {
		background-color: #2a323d;
		border: 1px solid transparent;
		color: $darkmode-text;

		&:hover {
			background-color: #3b4652;
			border: 1px solid transparent;
		}
	}

	.comments-pager ol li.active {
		background-color: #3b4652;
	}

	.waiting {
		.post-load-more {
			background-color: #c3c9d0 !important;
			filter: invert(1) hue-rotate(180deg) saturate(1.4);
		}
	}

	table {
		&.article-table {
			&.alt {
				tr {
					&:nth-child(even) {
						background: #38444f;
					}
				}
			}
		}
	}

	.article {
		nav {
			&.page-nav {
				a {
					span {
						&:after {
							border-left: 10px solid #ccc;
						}
					}
				}
			}
		}
	}

	img {
		&.repartner {
			filter: invert(0.84) hue-rotate(175deg) saturate(1);
		}
		&.pf-home-icon {
			filter: grayscale(1) brightness(2.5);
		}
	}
	.indexmain, .thisIndex {
		filter: invert(1) hue-rotate(300deg);
	}
	.thisIndex a:hover, .indextitle a:hover {
		box-shadow: inset 0 -3px 0 #75519c !important;
	}
	.trust-feat, .trust-soft {
		color: $darkmode-text;
	}
	.trust-feat a:hover, .trust-soft a:hover {
		color: $darkmode-text;
		border-bottom: 1px solid $dark-link;
	}

	.tabbar {
		border-color: #525e69;

		&.active {
			background: #535E69;
			color: $darkmode-text;
		}

		a {
			background-color: #acaeb0;

			h3 {
				color: #000;
			}

			&.active{
				h3 {
					background: #535E69;
					color: $darkmode-text;
				}
			}

			&:hover {
				background-color: #92a1b2;
			}

			&.active {
				background: #535E69;
				color: $darkmode-text;

				&:hover {
					background-color: #535E69 !important;
				}
			}
 
			&.pricetab {
			    background-color: #59a059;

				&:hover {
					background-color: #339933;
				}

			    h3 {
				    color: #fff;
				}
			}
		}

		&.single {
			h3 {
				background: #535E69;
				color: $darkmode-text;
			}
		}
	}

	.section-header {
		&.purple {
			border-top: 5px solid #654b7e;
		}
		&.orange {
			border-top: 5px solid $dark-link-hov-orange;
		}
	}
	.download-list li em.popular, .forum-list li em.popular {
		background-color: #654b7e;
	}
	.download-list li em.popular-topic, .forum-list li em.popular-topic {
		background-color: #ab6e32;
	}

	.sidebar ul.teaser-list li a:hover,
	.download-list li span a:hover,
	.forum-list li span a:hover {
		color: $dark-link-hov-orange;
	}

	textarea {
		background: #bdbdbd;
	}
	input[type=text], input[type=password] {
		background: #3f4850;
		color: #fff !important;
	}
	input {
		&.gsc-input {
			color: #333 !important;
		}
	}
	.social-widget {
		background: rgb(80 80 80 / 20%);
		border-color: #ff7f00b8 !important;

		/*
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		*/

		li {
			&.social {
				background-color: transparent !important;
			}
			&.social-count {
				background-color: #ff7f00b8 !important;
			}
		}
	}
	.slide-sort-selector .layout-selector li.standard a, .slide-sort-selector .layout-selector li.full a {
		padding-left: 5px;
	}
	.slide-sort-selector .layout-selector li.standard a:before, .slide-sort-selector .layout-selector li.full a:before {
		display: none;
	}
	.feature-title {
		background-color: #212932;
	}

	#header-ts {
		.header-top {
			.right-links {
				ul {
					li {
						&.social {
							&.search {
								form {
									.text {
										color: #333 !important;
										background: #fff !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	#header-ts .header-top .right-links ul li.login .login-dropdown .pad.subcontent.alerts .contentRow-main--close,
	#header-ts .header-top .right-links ul li.social.group .social-dropdown .newsletter,
	#header-ts .header-top .right-links ul li.login .login-dropdown .pad.header h3 {
		color: #333;
	}

	.comments-pager {
		li {
			&:nth-last-child(2) {
				border-right: none;
			}
		}
	}

	footer, footer .copyright {
		background: #151b1f;
	}

	footer {
		.copyright {
			border-top: 2px solid #24303c;
		}
	}

}