footer {
	background: #1e2933;
	z-index: 2;
	left: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	content-visibility: auto;
	contain-intrinsic-size: 514px;

	@include break(mobile) {
		contain-intrinsic-size: 1146px;
	}

	@if $isDesk == 'true' {
		.wrapper {
			padding: 40px 0 35px;
			@include break(v-mobile){
				padding: 10px 0px 10px 0px; 
			}
		}
	}
	@else {
		.wrapper {
			padding: 30px 0px 10px 0px; 
		}
	}

	@if $isAMP == 'true' {
		.mobile {
			display: none;
			@include break(v-mobile){
				display: block;
				margin-bottom: 20px;
			}
		}
	} @else {
		.desktop {
			display: block!important;
			@include break(v-mobile){
				display: none!important;
			}
		}
		.mobile {
			display: none !important;
			@include break(v-mobile){
				display: block!important;
				margin-bottom: 20px;
			}
		}
	}

	form {
		font-size: .8em;
		
		.footitle {
			margin: 0 0 10px 0;
		}
		.form-email {
			@include col(2,3,1);
			input {
				width: 90%;
				line-height: 30px;
				margin-top: 0;
				border: 1px solid $grey;
				padding: 0 4%;
				font-size: 0.85em;
				-webkit-appearance: none;
				border-radius: 0;
			}
		}
		.form-submit {
			@include col-last(1,3,1);
			input {
				line-height: 30px;
				display: block;
				background: $blue;
				color: white;
				width: 100%;
				padding: 0 5%;
				border: 1px solid #105ab2;
				font-size: 0.8em;
				cursor: pointer;
				-webkit-appearance: none;
				border-radius: 0;

				@if $isAMP == 'true' {
					text-transform: uppercase;
				}

				@if $isDesk == 'true' {
					&:hover {
						background: lighten($blue,6%);
					}
				}
			}
		}
	}
	
	.footitle {
		color: #E3E5E6;
		font-size: 0.9em;
	}

	.menu {
		width: 17%;
		margin-right: 7%;
		float: left;
		list-style-type: none;
		position: relative;
		box-sizing: border-box;
		font-size: 0.8em;

		&.thin {
			width: 12%;
		}
		&.wide {
			width: 22%;
		}

		ul {
			margin-top: 15px;
			font-size: .85em;
			letter-spacing: -0.5px;

			li {
				padding-bottom: 10px;

				@include break(v-tablet){
					line-height: 1.3;
					padding-bottom: 15px;
				}

				a {
					font-weight: 400;
					color: #b7c0ca;
					font-size: 1.025em;

					@include break(v-tablet){
						font-size: 1.1em;
					}

					&:hover {
						color: #e28427;
						transition: ease 0.1s;
					}
				}
			}
		}
	}
	@include break(mobile){

		#Main {
			display: none;
		}
		.menu{
			width: 95%;

			&.wide {
				width: 95%;
				margin: 10px 0 10px;
			}
		}
	}

	.follow-subscribe {

		@include col-last(4.3,14,5);

		.menu {
			width: 100%;
			margin-top: 45px;

			@include break(mobile) {
				margin-top: 25px;
			}
			
			ul {
				li {

					display: inline-block;
					width: 40px; height: 40px;
					padding: 0;
					margin: 0px 12.5px 12.5px 0px;

					a {
						display: block;
						line-height: 38px;
						border-bottom: none;
					}

					img {
						width: 25px;
						height: 25px;
						letter-spacing: unset;
						margin-left: 8px;
					}

					&.facebook {
						//background-image: url('https://#{$staticServer}.techspot.com/images/social/06-facebook.svg');
						background-color: #39559F;
					}
					&.twitter {
						//background-image: url('https://#{$staticServer}.techspot.com/images/social/03-twitter.svg');
						background-color: #1DA0D7;
					}
					&.youtube {
						//background-image: url('https://#{$staticServer}.techspot.com/images/social/18-youtube.svg');
						background-color: #E63D28;
						//background-size: 28px 28px;
					}
					&.rss {
						//background-image: url('https://#{$staticServer}.techspot.com/images/social/20-rss.svg');
						background-color: #FF7F00;
					}
					&.instagram {
						//background-image: url('https://#{$staticServer}.techspot.com/images/social/38-instagram.svg');
						background-color: #f56040;
					}
					
				}
			}
		}

		@if $isAMP != 'true' {
			@include break(tablet){
				@include col-last(5,14,5);
			}
			@include break(v-tablet) {
				@include col-last(6,14,5);
			}
			@include break(mobile) {
				@include col-last(1,2,0);
			}
		}

		@include break(v-mobile) {
			@include col-last(1,1,0);
			padding-top: 20px;
		}
		
	}
	
	.copyright {
		font-size: .66em;
		color: #bbb;
		letter-spacing: -0.333px;
		background: #282e36;

		.wrapper {
			padding: 18px 0 20px;
			@include break(v-mobile){
				padding: 10px 0; 
			}
		}
		
		p {
			margin: 12px 0;
		}

		a {
			display: inline-block;
			color: #bbb;
			letter-spacing: 0.1px;

			&.pad {
				margin-left: 20px;
				letter-spacing: revert;
			}

			@if $isAMP != 'true' {
			@if $isDesk == 'true' {
				&:hover {
					border-bottom: 2px solid #AAA;
					padding-bottom: 2px;
					text-decoration: none;
					margin-bottom: -4px;
				}
			}//desk
			}//amp
		}
	}
	
	a.back-to-top {
		/*
		background-image: url('https://#{$staticServer}.techspot.com/images/glyph-back-to-top.svg');
		background-repeat: no-repeat;
		*/

		position: absolute;
		margin-top: -22px;
		left: 50%;
		width: 50px;
		height: 50px;
		margin-left: -25px;
		z-index: 5;
		overflow: hidden;
		
		@if $isAMP != 'true' {
		@if $isDesk == 'true' {
			&:hover {
				#ts-triangle{
				    fill: #EF8632;
				}
			}
		}
		}
	}
}
