#header-ts {
	position: fixed;
	width: 100%;
	z-index: 1100001;
	line-height: $header-height;
	height: $header-height;
	top: 0;
	left: 0;

	@include break(mobile) {
		height: 58px;
	}

	.header-top {
		background: $dark-blue;
		position: relative;
		z-index: 2;

		.wrapper {
			padding: 0;
			line-height: $header-top-line-height;
		}


		.right-links {
				float: right;
				line-height: $header-top-line-height;

				@include break(mobile){
				    line-height: $header-interior-line-height-mobile;
				}

				ul {
					li {
						display: inline-block;
						line-height: $header-top-line-height;

						@include break(mobile){
							line-height: $header-interior-line-height-mobile;
						}

						a {
							font-size: .65em;
							font-weight: 300;
							color: white;
						}
						
						&.login {
							position: relative;

							@include break(mobile) {
								width: 40px;
							}
							
							svg {
							    float: left;

							    transform: translate(-5px,17px);

								@include break(mobile) {
									transform: translate(7px, 9px);
								}
							} 

							&.hover {
								background-color: $orange;
								.loginEspBlock {display: block;}
							}

							a {
								display: block;
								text-transform: uppercase;
								font-weight: 475;
								letter-spacing: 0;
								padding: 0 10px 0 8px;

								@include break(mobile) {
									padding: 0px;
									text-indent: -9999px;
								}
							}

							.loggedin {
								text-transform: none !important;
								font-size: .7em;
							}

							.count {
								position: absolute;
								right: -5px;
								top: 1px;
								padding: 1px 5px;
								font-size: 12px;
								font-weight: 600;
								line-height: normal;
								background: #c00;
								color: #fff;
								text-shadow: 0 1px 0 #900;
								-webkit-animation: count_appear 0.35s linear;
								border-radius: 20px;
								box-shadow: 0 1px 0 #900;

								@include break(mobile) {
									text-indent: 0;
								}
							}

							.login-dropdown {
								display: none;
								position: absolute;
								width: 280px;
								left: 50%;
								margin-left: -140px;
								background: white;
								text-indent: 0;
								line-height: 25px;
								z-index: 100;
								border-bottom: 4px solid #105AB2;
								box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

								@include break(mobile){
									right: 0%;
									left: 0%;
									margin-left: -175px;
								}

								@include break(v-mobile){
									margin-left: -212px;
									width: 250px;
								}
								
								.pad {
									display: block;
									padding: 10px 15px;

									&.header {
										padding-right: 68px;

										.image {
											position: absolute;
											background: #fff;
											top: 10px;
											right: 10px;
											border: 1px solid #eee;
											box-shadow: 3px 3px 0 #ddd;
										}

										h3 {
											margin: 3px 0 0;
											font-weight: 400;
											font-size: 1em;
											overflow: hidden;
											text-overflow: ellipsis;
											white-space: nowrap;
										}

										p {
											color: $light-grey2;
											margin: 4px 0 0px;
											line-height: 1.5;
											font-size: 0.62em;
										}
									}

									.notice
									{
										font-weight: bold;
										color: #c00 !important;
									}

									&.subcontent {
										padding: 0 13px 5px;
										font-size: 0.6em;
										max-height: 250px;
										overflow: auto;
										background: #f5f5f5;

										a {
											&:hover {
												color: #c00;
											}
										}

										&.last {
											padding-bottom: 6px;
										}

										ul {
											padding: 5px 0 5px;
											margin: 0;

												li {
												float: left;
												width: 125px;
												line-height: 2;

												@include break(v-mobile){
													width: 110px;
												}
											}
										}

										&.alerts {
											padding: 0 8px 5px 13px;

											@include break(v-mobile){
												max-height: 180px;
											}

											ul {
												margin: 0;
											}
											li {
												width: 240px;
												padding: 10px 0px 3px;

												.list_item {
													border-bottom: 1px solid #e8e8e8;
												}
												&:last-child .list_item {
													border-bottom: 0 !important;
												}

												@include break(v-mobile){
													width: 210px;
												}

											}
											
											.contentRow {
												display: flex;
											}
											.contentRow-main--close	{
												line-height: 1.4;
												padding-left: 6px;
											}
											.contentRow-minor.contentRow-minor--smaller {
											    font-size: 11px;
											    line-height: 2;
											    color: #969696;
											}

											.contentRow-figure {
												a.avatar.avatar--xxs.avatar--default.avatar--default--dynamic {
													text-align: center;
													height: 40px;
													width: 40px;
													line-height: 40px;
													display: block;
													font-size: 30px;
													border-radius: 50%;
													padding: 2px;
												}
											}

											.loading {
												float: right;
												margin: 9px 0 0;
												width: 16px;
												height: 16px;
												background: url('https://#{$staticServer}.techspot.com/images/loading_blue_small.gif');
											}
										}

										.list_item {
											margin: 0 -20px 0 -10px;
											min-height: 32px;
											overflow: hidden;
											padding: 5px 10px 5px;
											cursor: pointer;
												.avatar img {
													float: left;
													height: 32px;
													width: 32px;
													margin: 2px 5px 0 0;
													padding: 0;
													border: 1px solid #fff;
													border-radius: 0;
												}
												&:hover {
													background: #fcfcfc;
												}
												h3 {
													display: block;
													margin: 2px 0;
													font-size: 12px;
													font-weight: normal;
													white-space: normal;
													line-height: 1.3;
													color: #333;
												}
												abbr {
													font-size: 11px;
													color: #666;
												}
												.new {
													color: #c00;
													font-weight: bold;
												}
										}
									}

									p {
										line-height: 1.5;
										color: #666;
										margin: 8px 0 0;
									}

									a {
										img {
											&:hover {
												opacity: 0.9;
											}
										}
									}
								}

								.separator {
									height: 0;
									font-size: 0;
									line-height: 0;
									border-top: 1px solid #e8e8e8;
								}
								
								.top {
									margin-top: 12px;
								}
								
								.padtitle {
									font-size: 0.95em;
									font-weight: 400;
									line-height: 12px;
								}
								
								small {
									font-size: .6em;
								}
								
								a {
									color: $blue;
									font-size: 1em;
									line-height: normal;
									padding: 0;
									text-transform: none;
									display: inline;
								}
								
								.login {
									background: #EAEAEA;
									
									form {
										padding: 5px 0;
										
										label {
											display: block;
											margin-bottom: 5px;
											margin-right: 15px;
										}
										.login_error {
											color: #c00;
											font-size: 12px;
											padding: 15px 0px 0px;
										}
									}
									
								}
								
							}
							
						}

						&.search {
							width: 32px;
							position: relative;
							line-height: $header-top-line-height;
							margin-left: 3px;
							cursor: pointer;

							@include break(mobile){
								line-height: 45px;
							}

							svg {
								transform: translate(6px, 5px);

								@include break(mobile){
									transform: translate(6px, 4px)
								}
							}
							
							&.active,
							&.hover {
								background-color: $orange;

								form {
									display: block;
								}
							}
							
							form {
								display: none;
								position: absolute;
								right: 0;
								top: $header-top-line-height;
								width: 220px;
								height: $header-top-line-height;
								z-index: 90;

								input {
									display: block;
									width: 100%;
									height: 45px;
									min-height: 45px;
									background: white;
									border: none;
									color: #333;
									padding: 0 15px;
									font-size: .85em;
									line-height: 25px;

									@include break(mobile){
										width: 90%;
									}
									
									@include border-radius(0);
									&::-webkit-input-placeholder { /* WebKit browsers */
										color: #DFDFD0;
									}
									&:-ms-input-placeholder { /* Internet Explorer 10+ */
										color: #DFDFD0;
									}
																		
									&:focus {
										outline: none;
									}
								}
							}
						}

						&.dark_mode {
							&.active,
							&.hover {
								background-color: $orange;
							}
						}
					}
				}
		}

			.elite {
				float: left;
				color: #ccc;
				font-size: .6em;
				margin: 10px 0px -10px 0;
			}

	}
	/**** END HEADER-TOP ****/


	/**** MENU ****/

		.menu {
			background: $blue;
			line-height: 50px;
			position: relative;
			z-index: 1;
			box-shadow: 0 4px 0px rgba(34,25,25,0.1);
			font-size: .70em;
			height: $header-menu-height;
			line-height: $header-menu-line-height;

			@include break(v-tablet){
				font-size: .735em;
				line-height: 35px;
				height: 35px;
			}

			#dk_menu {
				height: $header-menu-line-height;
				margin-left: -5px;	//alinear con logo

				@include break(v-tablet){
				    height: 35px;

					overflow-x: auto;
					overflow-y: hidden;
					-webkit-overflow-scrolling: touch;
					-ms-overflow-style: -ms-autohiding-scrollbar;
					white-space: nowrap;

					&::-webkit-scrollbar {
					    display: none;
					}
				}

			}
						
			.wrapper {
				@include break(v-tablet){
					width: 94%;
				}
				& > ul {
					& > li {
						display: inline-block;
						text-transform: uppercase;
						font-weight: 400;
						margin-left: -5px;	//make menus overlap for uninterrupted hover + drop down

						@include break(v-tablet) {
							margin-right: 0px;
						}
						
						& > a {
							color: rgba(255, 255, 255, 0.96);
							font-weight: 600;
							position: relative;
							display: block;
							padding: 0 16px 0 16px;

							@include break(mobile) {
								padding: 0 11px 0 14px;
							}
						}

						// DESKTOP only submenu
						@if $isDesk == 'true' {

						&.active {
							background: #6D7075;
						}
						
						&:hover {
							background-color: #787D81;
							transition: 0.2s ease-in-out;
						}

						.SubHeader {
							line-height: 3.3;

							// heredado del wrapper general
							// --------
						    max-width: $desk;
						    margin: 0 auto;
						    width: 92%;

							li {
								margin: 0 15px;
								display: inline-block;
								text-transform: none;
								color: #fff;
								padding-left: 7px;

								&:before {
									content: "";
									display: list-item;
									position: absolute;
									list-style-type: square;
									opacity: 0.5;
								}

								a {
			    					color: #fff;

									&:hover {
										text-decoration: none;
										border-bottom: 2px solid #ffaf5f;
										padding-bottom: 2px;
									}
								}
							}
						}
						
						.nav-submenu {
							display: none;
							position: absolute;
							left: 0; top: $header-menu-height;
							width: 100%;
							background: #777D82;

							@include break(tablet){
								display: none !important;
							}
							
							.wrapper {
								padding: 15px 0;

								@include break(tablet){
									width: 85%;
								}
							}

							.pfmenusearch {
								background: #797D81;
							    text-align: center;
							    padding: 15px 0;

								input {
									display: inline-block;
									max-width: 600px;
									margin: 0 0px 0px 8px;
									font-size: 1.3em;
									box-shadow: none;
									background: #bfc2c5;
									padding: 6px 10px;
								    color: #222 !important;
								}
							}
							.pfmenuSideTitle {
								display: inline-block;
								color: #fff;
							}
						}

						}// NO submenu on mobile
						@else {
							.nav-submenu {
								display: none;
							}
						}

					}
				}
			}	
		}


	#logo {
		width: 225px;
	    height: 62px;

	    &.logoelite {
			float: left;
		}

		@include break(mobile){
		    width: 205px;
		    height: 45px;
		}

		a {
			display: block;
			width: 205px;
			height: 62px;
		}

	} //logo



	/**** INTERIOR ****/

	&.interior {
		line-height: $header-interior-height;
		height: $header-interior-height;

		@include break(mobile){
			line-height: $header-mobile-height;
			height: $header-mobile-height;
		}

		
		.header-top {
			.wrapper {
				line-height: $header-interior-line-height;

					@include break(mobile){
						line-height: $header-interior-line-height-mobile;
					}
			}


				.right-links {
					line-height: $header-interior-line-height;

					@include break(mobile){
						line-height: $header-interior-line-height-mobile;
					}
					ul {
						li {
							
							line-height: $header-interior-line-height;
							
							@include break(mobile){
								line-height: $header-interior-line-height-mobile;
							}

							&.login {
								svg {
								    transform: translate(-4px, 4px);

									@include break(mobile) {
										transform: translate(7px, 9px);
									}
								}

								@include break(mobile) {
									padding-right: 0px;
									width: 40px;
								}

							}

							&.social {
								&.search {
									line-height: 38px;
								
									form {
										top: $header-interior-line-height;
									
										@include break(mobile){
											top: $header-interior-line-height-mobile;
										}
										
									}
								}
							}
						}
					}
				}
				.elite {
					font-size: 0.575em;
					margin: 9px 0px -9px -18px;
				}
		}

		// (.interior logo)
		#logo {
		    width: 205px;
		    height: 39px;

			a {
				display:block;
			    width: 205px;
			    height: 39px;
			}

			@include break(mobile) {
			    width: 205px;
			    height: 45px;
			}
		}


		// (.interior menu)
			.menu {

				.wrapper {
					& > ul {
						& > li {
							.nav-submenu {
								top: $header-interior-line-height;
							}
						}
					}
				}
				
			}
	}
	/**** END INTERIOR ****/


}
