body.home {

	@if $isAMP == 'true' {
		#content {
			.wrapper {
					padding: 15px 0;
			}
		}

	} @else {

		.optblock {

			content-visibility: auto;
			contain-intrinsic-size: 2300px;

			@include break(mobile){
				contain-intrinsic-size: 2000px;
			}

		}

		@if $isDesk == 'true' {

			// Fixed header home
			padding-top: $header-height;
			@include break(mobile){
				padding-top: 72px;
			}

			/*
			#dk_menu {
				height: 38px !important;
			}
			#header-ts .menu .SubHeader {
				height: 38px !important;
				padding-top: 3px !important;
			}
			*/

			#content {
				.wrapper {
					@include break(v-mobile) {
						padding: 25px 0 15px;
					}

					.col-2-3 {
						@include break(big-desk){
							width: 70%;
						}

						@include break(tablet) {
							@include col(2,3,2);
							@media screen and (orientation:portrait) { 
								width: 100%;
							}
						}
						@include break(mobile) {
							width: 100%;
							.wrapperMobileOnly {
								width: $mobwrapwidth;
								padding: $mobwrappadding;
							}
						}
					}
				}

				.grid-posts {
					&.secondary {
					    padding: 0;

						@include break(mobile) {
							background: none;
						}

						.masthead {
							background: #ddd;
							padding: 10px 0;

							@include break(mobile) {
								background: none;
								margin: 0 0 15px;
							}

							.wrapper {
								padding: 0;
								width: 100%;
							}

							ul.featured-posts li a hgroup h2 {
								font-size: 1.05em;

								@include break(mobile) {
									font-size: 1.1em;
								}
							}

							ul.featured-posts li.tall a hgroup h2 {
								font-size: 1.25em;
							
								@include break(mobile) {
									font-size: 1.1em;
								}
							}					
						}
					}
				}
			
				.sidebar {
					padding-top: 50px;

					&.secondary {
						padding-top: 20px;
					}

					@include break(tablet) {
						width: 32%;
						@media screen and (orientation:portrait) { 
							display: none;
						}
					}
				}
			}

		
		}
		@else {

			padding-top: 72px;

			#dk_menu {
				height: 38px !important;
			}
			#header-ts .menu .SubHeader {
				height: 38px !important;
				padding-top: 3px !important;
			}

			#content {
				.wrapper {
					padding: 25px 0 15px;

					.col-2-3 {

						width: 100%;
						.wrapperMobileOnly {
							width: $mobwrapwidth;
							padding: $mobwrappadding;
						}

					}
				}

				.grid-posts {
					&.secondary {
					    padding: 0;
					    background: none;

					    @include break(mobile){
					    	height: 290px;
							content-visibility: auto;
							contain-intrinsic-size: 290px;
					    }

						.masthead {
							background: none;

							.wrapper {
								padding: 0;
							}

							ul.featured-posts li {
								width: 33%;

							    @include break(mobile){
							    	width: 82%;
							    }
							}

							ul.featured-posts li a hgroup h2 {
								font-size: 1.05em;
							}

							ul.featured-posts li.tall a hgroup h2 {
								font-size: 1.05em;
							}					
						}
					}
				}
			}

		}
	}
}