body.interior {
	.score {
		font-family: $f-helvetica-roboto !important;
	}
	.ShowOnly {
		max-width: 660px;
		width: 96%;
		float: left;
		ul li {
			width: 96%;
			height: 40px;
			line-height: 40px;
			background: white;
			margin: 10px 0px;
			font-weight: 500;
			padding-left: 20px;
			border: 1px solid rgba(202,206,207,0.72);
			a {
				display: block;
				text-decoration: none;
			}
			&.red a {
				color: $red;
			}
			&.green a {
				color: $green;
			}
		}
	}

	&.news,
	&.product,
	&.download,
	&.trivia, &.trivias {
		.col-2-3{
			@if $isDesk == 'true' {
				width: 68%;

				@include break(v-tablet) {
					width: 100%;
				}
				
				@include break(mobile) {
					width: 100%;
					.wrapperMobileOnly {
						width: $mobwrapwidth;
						padding: $mobwrappadding;
					}
				}
			}
			@else {
				width: 100%;
				.wrapperMobileOnly {
					width: $mobwrapwidth;
					padding: $mobwrappadding;
				}
			}


		}

		#content {
			
			.articleBody {
				margin-bottom: 30px;

				@include break(mobile){
					@include col-last(1,1,0);
				}

				blockquote {
					margin: 5px 20px 25px 0px;
					padding: 20px 10px 0px 20px;
					font-size: 0.96em;
					border-left: 3px solid #ccc;
				}

				.twitter-tweet, .twitter-tweet-rendered {
					margin: 7px auto !important;
					margin-bottom: 25px !important;
				}

				iframe {
					&.twitter-tweet, &.instagram-media {
					margin: 7px auto !important;
					margin-bottom: 25px !important;
					}
				}
			}
			
		}
		
		@if $isDesk == 'true' {
			.sidebar {
				@include break(v-tablet) {
					display: none !important;
					@include col-last(1,3,3);
				}
				@include break(mobile){
					display: none;
				}
			}
		}
	}

	#CategoryList {
		margin-bottom: 21px;
		text-transform: uppercase;
		font-family: $f-condensed;
		font-size: 0.7em;

		a {
			color: white;
			text-decoration: none;
		}


		.SideTitle{
			line-height: 31px;
			background-color: #3e6696;
			padding: 0px 17px;

			@include break(v-tablet){
				padding: 0px 10px;
			}
			@include break(mobile){
				background-color: #7d8895;
			}

		}

		.has_more{
			.SideTitle{
				.arrow{
					@include triangle(left,white,4,6);
					float: right;
					margin-top: -18px;
				}
			}
			.SideProdContent{
				display: none;
			}
		}
		.open{
			.SideTitle{
				.arrow{
					@include triangle(down,white,4,6);
					float: right;
					margin-top: -18px;
				}
			}
			.SideProdContent{
				display: block;
			}
		}

	}

	.social-share-svg {
		margin-left: 120px;
		float: right;
		font-family: Roboto;
		letter-spacing: -.333px;

		&.article {
			margin-top: 20px;
		}

		.social-share-text {
			float: left;
			font-size: 0.8em;
			margin: 15px 10px 0 0;
			color: #444;
		}

		.social-share-buttons {
			display: inline-block;
		}

		@include break(v-mobile) {
			margin-left: 0;
			float: none;

			.social-share-text {
				float: none;
			}

			.social-share-buttons {
				margin: 5px 0 0px -8px;
			}
		}

		.resp-sharing-button__link {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			margin: 0.4em;
			cursor: pointer;
		}

		.resp-sharing-button__icon {
			display: inline-block;
			stroke: #fff;
			fill: none;
			svg {
				width: 1em;
				height: 1em;
			}
		}

		.resp-sharing-button {
			border-radius: 5px;
			transition: 25ms ease-out;
			padding: 7px 10px 3px;

			span {
				padding-left: 0.4em;
			}
		}

		.resp-sharing-button__icon--solid {
			fill: #fff;
			stroke: none;
		}
		.resp-sharing-button__icon--solidcircle {
			fill: #fff;
			stroke: none;
		}
		.resp-sharing-button--twitter {
			background-color: #55acee;
			&:hover {
				background-color: #2795e9;
			}
		}
		.resp-sharing-button--facebook {
			background-color: #3b5998;
			&:hover {
				background-color: #2d4373;
			}
		}
		.resp-sharing-button--reddit {
			background-color: #fd7524;
			&:hover {
				background-color: #ff6000;
			}
		}
	}
}

.sorter {
	float: right;
	font-size: 12px;
	position: relative;
	color: #333;
	text-align: right;
	z-index: 1;
	
	&.active {
		ul {
			display: block !important;
		}
	}
	
	#sorted_by {
		text-transform: lowercase;
		font-weight: 600;
		
		&:after {
			margin-left: 4px;
			content:"";
			display: inline-block;
			width: 5px; height: 6px;
			@include triangle(down,#333,4,6);
		}
	}

	ul {
		position: absolute;
		display: none;
		right: 0;
		top: 28px;
		width: 120px;
		background: #F4F5F7;
		text-align: left;
		border: 1px solid #ccc;
		@include border-radius(2px);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
		box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	}
	
	.arrow {
		width: 10px;
		height: 10px;
		background: url('https://#{$staticServer}.techspot.com/images/pf_show_sorter.png');
		display: inline-block;
		zoom: 1; 
		display: inline;
	}

	a {
		color: #333;
		background: none !important;
		padding: 0;
		text-shadow: none !important;
	}
	
	li {
		background: none;
		display: block;
		border: 0;
		height: 25px;
		line-height: 25px;
		margin: 0;
		padding: 0;
		
		.smaller {
			font-size: 11px;
		}
	
		a {
			display: block;
			padding: 0 5px;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
			
			&:hover {
			background: #32404D !important;
			color: #fff;
			text-decoration: none;
			}	
		}	
	}	
}

#ShowingFilter {
	height: 33px;
	border-bottom: 1px solid $light-grey;
	background: white;
	padding: 0 2%;
	font-size: 0.7em;
	font-weight: 600;
	line-height: 33px;
	
	span {
		margin-right: 5px;
	}
	
	ul {
		display: inline;
		li {
			display: inline-block;
			margin-right: 2px;
		}
	}
	
}