#GlobalWrapper {
	width: 100%;
	top:0px;
	left:0px;
	background-color: $light-grey;
	margin: 0 auto;
}

img.responsive {
	width: 100%;
	height: auto;
}

body {
	background-color: $light-grey;
	font-family: $f-primary;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;

	// Fixed header home
	padding-top: 74px;
	
	@include break(mobile){
		font-size: 1.22em;
		padding-top: 56px;
	}
}

body.dark {
	background-color: #282E36;

	#content {
		background-color: #282E36;
		 
		&.white {
			background-color: #282E36;
		}
	}
}

// Scroll sticky header fix
:target {
	scroll-margin-top: 91px;

	@include break(mobile){
		scroll-margin-top: 103px;
	}
}

// Safari fix
@supports (-webkit-hyphens:none) {
	@include break(mobile){
		#header-ts, #content { top: -2px; }
	}
}

article, aside, section {
	display: block;
}

a {
	text-decoration: none;
	color: #105ab2;

	&:hover { color: $red; }
}

ul,ol {
	margin: 0; padding: 0;
	li {
		margin: 0; padding: 0;
		list-style-type: none;
	}
}

h1 {
	color: #1e2833;
	font-weight: 500;
	font-size: 1.3em;
	
	&.lined {
		border-bottom: 2px solid #c3c3c3;
	}
}

h2, h3, h4, h5 {
	font-weight: 500;
}

.mobile-hide {
	@include break(mobile) {
		display: none;
	}
}

.clearfix {
	@include clearfix(before);
	@include clearfix(after);
}

.wrapper {
	max-width: $desk;
	margin: 0 auto;
	width: 92%;

	@include break(tablet) {
		width: 94%;
	}
}

.col-1-2 {
	@include col(1,2,2);
	&.wide-gut {
		@include col(1,2,5);
		@include break(v-mobile){
			width: 100%;
		}
	}
}

.col-1-2-last {
	@include col-last(1,2,2);
	&.wide-gut {
		@include col-last(1,2,5);
		@include break(v-mobile){
			width: 100%;
		}
	}
}

img.b-lazy {
	-webkit-transition: ease .4s;
	transition: ease .4s;
	max-width: 100%;
	opacity: 0;
}
img.b-lazy {
	will-change: opacity;
}
img.b-lazy.b-loaded {
	opacity: 1;
}

.social-column {
	overflow: visible;
}
.scroll {
	-webkit-transform: translateZ(0); 
	transform: translateZ(0);
}
.rating {
	font-family: $f-helvetica;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}




// YouTube, video embeds
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow: hidden;
	margin-bottom: 25px;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.trust-feat {
	color: #333;
	font-size: 14px;
	text-align: center;
	padding: 15px 3%;
	margin: 5px auto 10px;

	a {
		color: inherit;
		padding-bottom: 3px;
		border-bottom: 1px solid #ccc;

		&:hover {
			color: #2A59AC;
		}
	}

	@include break(mobile){
		padding: 15px 3% 3px;
		margin: 0 auto;
	    line-height: 1.3;
	}

	&.news {
	    max-width: 680px;
	    padding: 5px 3% 30px;
	    margin: -20px auto 10px;

		@include break(mobile){
	        margin: 0;
	    }
	}
}

.trust-soft {
	color: #333;
    margin: 10px 0 10px;
    line-height: 1.3;
    width: 300px;

	@include break(mobile){
        margin: 15px 0 10px;
    }
}


// SIDEBAR
// ----------------------

@if $isDesk == 'true' {

.download-list,
.forum-list {
	padding: 10px 0;
	
	li {
		font-size: .8em;
		padding: 0 0 0 18%;
		margin: 5px 0 12px;
		line-height: 150%;
		
		& > a {
			display: block;
			color: #444;
			line-height: 1.2;
			font-weight: 400;
			padding-bottom: 2px;

			&:hover { color: $red; }
		}
		span {
			line-height: 1.5;
			color: #555;
			font-weight: 400;
			font-size: .8em;
			letter-spacing: -.333px;
		
			a {
				color: inherit;
				font-weight: 500;

				&:hover { color: $red; }

				&.similar {
					color: #7393C8;

					&:hover { 
						text-decoration: none;
						padding-bottom: 2px;
						border-bottom: 1px solid #7393C8;
					}
				}
			}
		}
		
		em {
			display: inline-block;
			font-style: normal;
			padding: 0px 4px;

			&.editors-pick {
				background-color: #FFCA00;
				font-weight: 500;
			}
			
			&.popular {
				background-color: #5A00B5;
				color: white;
				font-weight: 500;
				a {
					color: white;
				}
			}
			&.popular-topic {
				background-color: $orange;
				color: white;
				font-weight: 500;
				a {
					color: white;
				}
			}
			
		}
	}
}

.download-list {
	margin: 0 5px 10px -5px;
	li {
		background-image: url('https://#{$staticServer}.techspot.com/images/download-arrow.svg');
		background-position: 5% 10%;
		background-repeat: no-repeat;

		& > a {
			letter-spacing: -0.333px;
		}

		span {
			a {
				font-size: 1.05em;
			}
		}
	}
}

.forum-list {
	margin: 0 10px 0px 5px;
	li {
		background-image: url('https://#{$staticServer}.techspot.com/images/forum-icon.svg');
		background-position: 5% 15%;
		background-repeat: no-repeat;
		background-size: 26px;
		min-height: 45px;

		& > a {
			font-family: Arial;
    		font-size: 0.9em;
    		padding: 3px 0 2px;
		}

		span {
			a {
				font-size: 1em;
			}
		}

		.count {
			margin: 20px 0 0 -30px;
			float: left;
		}
	}
}
} // end isDesk


@if $isDesk == 'true' {
.sidebar {
	width: 305px;
	float: right;

	@include break(tablet){
		width: 29%;
		img {
			width: 100%;
			height: auto;
		}
	}

	@include break(v-tablet){
		display: none !important;
	}

	@include break(mobile){
		display: none;
	}
	
	
	ul.teaser-list {
		padding: 0 0 28px;
		li {
			padding: 26px 0 0;

			&:first-child {
				padding: 12px 0 0;
			}

			.comm {
				background-color: rgba(255, 127, 0, 0.8);
				padding: 4px 6px;
				position: relative;
				font-size: .7em;
				font-weight: 500;
				z-index: 1;
				float: right;
				margin: 155px 26px 0 0;

				&:hover {
					background-color: rgba(255, 127, 0, 0.9);
					transition: linear 0.1s;
				}

				a {
					color: white !important;
					padding: 0;
				}
			}
			
			a {
				color: #444;

				.img-wrap {
					display: block;
					position: relative;
					width: 88%;
					height: 190px;
					background-size: cover;
					background-position: center;
					margin: 0 auto;
				}

				.trend {
					font-size: .8em;
					font-weight: 500;
					text-align: center;
					width: 90%;
					display: block;
					list-style-type: none;
					position: relative;
					padding-top: 8px;
					margin: 0 auto 5px;
				}

				&:hover {
					color: $red;
				}
			}
		}
	}
	
	&.left {
		float: left;
		padding-top: 5px;
	}

	&.article-special {
		padding-top: 5px;
		margin-right: 66px;
		&.article-special{margin-right: 0;}
		
		@include break(big-desk){
			margin-right: 0;
		}
		@include break(plus-desk){
			margin-right: 50px;
		}
		@include break(tablet){
			margin-right: 62px;
		}
	}
}
} // end isDesk


.section-header {
	font-family: $f-condensed;
	border-top: 5px solid $red;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 42px;
	padding-left: 13px;
	font-weight: 600 !important;
	font-size: 1.25em;

	a {
		color: #333;
	}
	
	span {
		font-weight: 100;
	}
	
	&.green {
		border-top: 5px solid $green;
	}
	
	&.red {
		border-top: 5px solid $red;
	}
	
	&.orange {
		border-top: 5px solid $orange;
	}
	
	&.purple {
		border-top: 5px solid #5A00B5;
	}
	
	&.blue {
		border-top: 5px solid #0250C5;
	}
}


h3.longtype {
	font-size: 1.3em;
	@include break (v-tablet){
		font-size: 1em;
	}
}


.mobile-only-social {
	display: block !important;

	&.social-column{
		display: none !important;
		height: auto !important;
	}

	@include break(v-mobile){
		&.social-column {
			display: block !important;
			min-height: 25px !important;
		}
	}
}


.col-2-3 {

	@if $isDesk == 'true' {
		@include col(2,3,2);

		@include break(v-tablet){
			width: 100% !important;
			.wrapperMobileOnly {
				width: $mobwrappadding;
			}
		}
		@include break(mobile){
			width: 100%;
			.wrapperMobileOnly {
				width: $mobwrapwidth;
				padding: $mobwrappadding;
			}
		}
	}
	@else {
		width: 100%;
		.wrapperMobileOnly {
			width: $mobwrapwidth;
			padding: $mobwrappadding;
		}
	}
}

.col-2-3-last {
	@if $isDesk == 'true' {
		@include col-last(2,3,-4);
		
		@include break(tablet){
			@include col-last(2,3,8);
		}

		&.special{
			width: 100% !important;
			.articleBody {
				width: 82% !important;
				max-width: none !important;
				margin: 0 auto;
			}
		}

		@include break(v-tablet){
			width: 100%;
		}

		@include break(mobile){
			width: 100%;

			.wrapperMobileOnly {
				width: $mobwrapwidth;
				padding: $mobwrappadding;
			}
		}
	}
	@else {
		width: 100%;

		.wrapperMobileOnly {
			width: $mobwrapwidth;
			padding: $mobwrappadding;
		}
	}
}

.col-1-3-last {
	@include col-last(1,3,2);
}

//Article Mobile
.article #content {
	@include break(mobile){
		.wrapperMobileOnly {
			width: $mobwrapwidth;
			padding: $mobwrappadding;
		}
	}
}

//Footer Page Nav
.post-load-more {
	margin: 40px auto;
	width: 100%;
	line-height: 45px;
	text-align: center;
	font-weight: 400;
	background-color: #fff;
    border: 1px solid #92b8e5;

	@include break(mobile){
		width: 93%;
	}
}
.post-load-more:hover {
	color: #fff;
	background-color: #105ab2;
}

table {
	&.big {
		max-width: none;
		width: 1020px;

		@include break(big-desk){
			width: $desk;
		}
		
		@include break(v-tablet){
			margin-left: 0 !important;
			max-width: 100%;
			width: 100% !important;
		}
	}

	&.article-table {
		margin: 15px 0 30px;
		font-size: 0.85em;
		letter-spacing: -0.333px;
		
		td, th {
			padding: inherit;
			text-align: center;
		}

		tr {
			padding: 8px 6px;

			&.title {
				background-color: #105ab2;
				color: #ffffff;
				font-family: $f-primary;

				a {
					color: #ffffff;
				}
				td, th {
					font-weight: 500;
				}
			}
			&.alt {
				background-color: #f5f5f5;
			}
			&.sub {
				background-color: #ddd;
			}
		}
		td.cat {
			font-weight: 500;
			text-align: left;
		}
		&.alt {
			tr {
				&:nth-child(even) {
					background: #f5f5f5;
				}
			}
		}
	}
}

/* Clases misc */

.pointerHere {
	cursor: pointer;
}

.repartner {
	float:right;
	margin: 10px 0px 0px 20px;

	@include break(mobile){
		margin: 20px 0 20px 10px !important;
		max-width: 110px !important;
		height: 21px !important;
	}
}

.loading {
	background: #fff url('https://#{$staticServer}.techspot.com/images/loading_blue2.gif') no-repeat center top;
	height: 50px;
	text-indent: -10000px;
	overflow: hidden;
	margin: 10px 0;
}

.waiting div {
	background-image: url('https://#{$staticServer}.techspot.com/images/loading_blue_small.gif');
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent !important;
	overflow: hidden;
	text-indent: -2000px !important;
	pointer-events: none;
}
.waiting span {
	visibility: hidden
}

.form-email {
	input {
	    width: 90%;
	    font-size: 1em;
	    margin-top: 6px;
	    line-height: 1.7;
	    padding: 4px 5px 2px;
	    border: 2px solid #1e29332e;
	}
}

//Button for show more
.more_description_dw {
    margin: 15px 5px 15px 0;
    display: block;
    border: 1px solid #92b8e5;
    text-align: center;
    font-weight: 400;
    color: #05408f;
    background-color: #fff;
    line-height: 35px;

	@if $isDesk == 'true' {
		&:hover{
		    color: #fff;
		    background-color: #105ab2;
		}
	}

	@include break(mobile){
		margin: 0px 5px 25px 0;
		color: #105ab2;
	}
}


// ! ads ===========================================

@if $isDesk == 'true' {
	.cta {
		text-align: center;
		background-color: white;
		
		&.grey {
			background-color: $light-grey;
		}
		&.grey2 {
			background-color: #bbb;
		}
		&.dark {
			background-color: rgb(30,41,51);
		}
		&.darkb {
			background-color: rgba(30,41,51,0.95);
		}
		&.dark2 {
			background-color: rgba(30,41,51,0.6);
		}
		&.trans {
			background-color: transparent;
		}
		.wrapper {
			padding: 20px 0 15px !important;
			text-align: center;
		}
		@include break(mobile){
			display: none;
		}
	}

	.billboard_placeholder_home, .billboard_placeholder_min {
		padding: 17px 0 15px;
		margin: 0 auto;
		text-align: center;
		min-height: 90px;
		height: 90px;
		min-width: 728px;
		width: 728px;
		overflow: hidden;
	}

	.billboard_placeholder {
		position: relative;
		padding: 17px 0 15px;
		margin: 0 auto;
		text-align: center;
		min-width: 970px;
		width: 970px;
		min-height: 250px;
		height: 250px;
		overflow: hidden;
	}

}//desk
@else {
	.cta {
		display: none;
	}
}

@if $isDesk == 'true' {
	.contentAd {
		text-align: center;
		margin: 30px 0;
		min-height: 250px;
		max-height: 300px;

		.ad-left, .ad-right {
			width: 48%;
			margin: 0;
		}
		.ad-left {
			float: left;
			padding-right: 0.5%;
		}
		.ad-right {
			float: right;
			padding-left: 0.5%;
		}
		&:before, &:after {
			content: "";
			display: table;
		}
	}

	.adContainerSide, .adContainerSide2 {
		width: 300px;
		min-height: 250px;
		margin-bottom: 30px;
		text-align: center;
		background-color: transparent;
	}
}//desk

// for interstitials
.acontinue {
	top: 30px;
	right: -5px;
	width: 220px;
	border: 1px solid #fff;
	position: fixed;
	background: #075bc0;
	font-family: Arial,sans-serif;
	padding: 18px 27px;
	color: #fff;
	transition: all 0.5s;
	cursor: pointer;
	text-align:center;
	z-index: 10000000000;

	@include break(mobile) { display: none; }

	span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;

		&:after {
			content: '\00bb\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}
	}

	&:hover {
		span {
			padding-right: 19px;

			&:after {
				opacity: 1;
				right: 0;
			}
		}
	}
}

.adContainerNews {
	margin-left: 813px;
	position: absolute;
	padding: 35px 20px 40px 20px;
	background-color: #fff;
	margin-top: 66px; //15px to align with native ad
}

.adContainerNewsLeadMid {
	margin: -5px 0 -10px;
}

.adContainerNewsMob {
	margin: 0 auto 15px;
	text-align: center;
	display: block;
}

.adContainerLeader2 {
	padding: 25px 0 0;
	text-align: center;
	margin: 0 auto;
	width: 728px;
}

.top-mobile-ad {
	margin: -18px 0 45px 0;
	height: 250px;
}

.dark_mode {
	.switcher {
		z-index: 50;
		cursor: pointer;
		width: 26px;
		padding: 0;
		position: relative;
		user-select: none;
		display: block;
		margin: -2px 0 0;
		padding: 0 8px 0;
		height: 39px;

		@include break(mobile){
			padding: 0 1px 0;
			line-height: 45px;
		}

		&.home {
			height: 54px;
		}

		svg {
			transform: translate(5px,2px) !important;
		}

		input {
			display: none;
		}
	}

	label {
		color: #1e2933;
	}
}

body.home {
	.jobbioapp {
		min-height: 459px;
		.list {
			padding: 0 0 25px;
			margin-top: 10px;
		}
	}
}

body.news {
	.jobbioapp {
		min-height: 200px;

		@include break(mobile) {
			min-height: 369px;
		}

		.list {
	        padding: 0;
	        margin: -5px 0 0 -10px;
		}
	}
}

body.article {
	.jobbioapp {
		min-height: 580px;
		.list {
	        padding: 0 0 25px;
	        margin-top: 15px;
		}
	}
}

// for bottom d-ads
.mobile-leaderboard-320-50 {
    box-shadow: none !important;
    background: transparent !important;
	/*
	background: rgba(0, 0, 0, 20%) !important;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	*/
}
.bordeaux-anchored-close {
    background: rgba(255,255,255,0.2)!important;
    box-shadow: none !important;
    cursor: pointer !important;
    border-radius: 12px 0 0 12px !important;
}

/*
.special_message {
	background: $light-grey2;
	text-align: center;
	color: #fff;
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 0.333px;
	line-height: 33px;
	padding-top: 3px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
	z-index: 5;
	transition: .25s ease-out .1s;

	span {
		color: #94e694;
	}

	&:hover {
		//background: #e67200;
		background: #a51a1a; //xmas red
		text-decoration: none !important;
	}

	a {
		color: #fff;
		text-decoration: none !important;
		&:hover {
			color: #fff;
			text-decoration: none !important;
		}
	}

	img {
		z-index: 10;
		width: 85px;
		float: left;
		position: absolute;
		margin-left: -95px;
		margin-top: -8px;
	}

	&.homepage {
		line-height: 44px;
		font-size: 0.8em;

		img {
			width: 95px; margin-left: -110px; margin-top: -8px;
		}
	}

	&.italic {
		font-style: italic;
	}

	&.red {
		background: #B20000;
		&:hover {
			background: #c00;
			@include transitions (0.25s);
		}
	}

	&.orange {
		background: #e67200;
		&:hover {
			background: #B20000;
			@include transitions (0.25s);
		}
	}

	@include break(mobile) {
		text-align: left;
		padding-left: 12px;
		font-size: 0.7em;
		line-height: 36px;
		padding-top: 28px;
		box-shadow: none;
		margin-bottom: -25px;
		position: relative;

		img {
			float: right;
			position: relative;
		}

		&.homepage {
			line-height: 36px;
			margin-bottom: 0;
			padding-top: 5px;
		}
	}
}
*/

/**** CONTENT ****/
#content {
	background-color: $light-grey;
	z-index: 1;
	position: relative;
	left: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	.wrapper {
		@if $isDesk == 'true' {
			padding: 25px 0;
			@include break(mobile) {
				width: 100%;
				padding: 25px 0px 0px 0px;
			}
		}
		@else {
			width: 100%;
			padding: 25px 0px 0px 0px;
		}
	}
	
	p {
		color: #222;
		font-family: $f-paragraph;
		line-height: 1.6;
		padding: 0 0 25px;

		em {
			font-family: $f-helvetica;
			letter-spacing: -.333px;
		}

		&.small, &.byline {
			font-size: 0.75em;
		}

		sup {
			font-size: 0.7em;
		}

		&.grey {
			font-size: 0.75em;
			color: #555;

			a {
				color: #555;
				border-bottom: none;
				box-shadow: none;

				@if $isDesk == 'true' {
					&:hover {
						border-bottom: 1px solid #D0DCEB;
						box-shadow: inset 0 -2px 0 #D0DCEB;
					}
				}

			}
		}

		&.side-quote {
			font-size: 1.45em;
			line-height: 1.4em;
			margin: 5px auto 25px;
			padding: 10px;
			text-align: center;
			color: #105ab2;

			@include break(v-mobile) {
				margin: -5px auto 25px;
			}
		}

		&.side-quote-right {
			float: right;
			width: 270px;
			margin: 5px 0 10px 10px;
			font-size: 1.45em;
			line-height: 1.4em;
			padding: 10px;
			color: #105ab2;

			@include break(v-mobile) {
				width: auto;
				float: none;
				text-align: center;
				margin: -5px auto 25px;
			}
		}

		&.side-quote-left {
			float: left;
			width: 270px;
			margin: 5px 13px 10px 0;
			font-size: 1.45em;
			line-height: 1.4em;
			padding: 10px;
			padding-left: 0;
			color: #105ab2;

			@include break(v-mobile) {
				width: auto;
				float: none;
				text-align: center;
				margin: -5px auto 25px;
			}
		}

		&.side-guest {
			width: 220px;
			margin: 5px 0 10px 15px;
			float: right;
			background-color: #eee;
			padding: 15px;
			font-size: 13px;
			line-height: 23px;

			@include break(v-mobile) {
				width: 130px;
			}
		}
	}

	// For "why it matters" (global: home & story templates)
	h5, #why-it-matters {
		font-family: $f-primary;
		font-weight: 500;
		line-height: 1.5;
		padding: 0 0 21px;
		color: #333;
		font-size: 20px;
		letter-spacing: -0.15px;

		strong {
			color: #075bc0;
		}

		sup {
			font-size: 0.6em;
		}

		a {
			color: inherit;
			box-shadow: inset 0 -2px 0 #5e9cea;
			padding-bottom: 3px;
			transition: all .15s ease-in-out;

			&:hover {
				color: #075bc0;
				box-shadow: inset 0 -2px 0 #ffc082;
			}
		}

		@if $isDesk == 'true' {
			&.introhome {
				font-size: 16px;
				font-weight: 400;
				padding: 5px 0 5px;
				font-family: $f-paragraph;
				color: #444;

				strong {
					font-family: $f-primary;
					font-weight: 500;
				}

			}
		}
	}

}


.comments-pager{
    margin: 35px 0px 20px 0px;
    width: 100%;
    height: 60px;

    &.twoline {
	    height: 110px;
    
    	ol {
    		li {
				margin-right: 8px;
				margin-bottom: 12px;
    		}
    	}
    }

	ol { 
		counter-reset: item;
		list-style-type: none;
		margin: 0 auto;
		width: fit-content;

		li {
			float: left;
			display: block;
			background: white;
			border-top: 1px solid $grey;
			border-left: 1px solid $grey;
			border-bottom: 1px solid $grey;
			font-size: 0.75em;
			font-weight: 500;
			text-align: center;

			&:hover,
			&.active {
				background: $blue;
				color: white;
				a {
					color: white;
				}
			}

			a {
				display: block;
			}

			@if $isAMP == 'true' {
				width: 38px;
				height: 38px;
				line-height: 38px;
				margin-right: 6px;
				border-right: 1px solid #bbb;
			
			} @else {
				width: 34px;
				height: 34px;
				line-height: 35px;

				@include break(mobile){
					width: 38px;
					height: 38px;
					line-height: 38px;
					margin-right: 6px;
					border-right: 1px solid #bbb;
				}
			}
		}
	}

	li:nth-last-child(2) {
		border-right: 1px solid $grey;
	}

	#PrevButton, #NextButton {
		list-style-type: none;
		margin-left: 5px;
		width: 50px;
		padding-left: 10px;
		border: 1px solid $grey;
		text-align: left;

		@if $isAMP != 'true' {
			&:hover {
				a{
					color: white;
				}
			}
		}
		.triangle {
			margin-left: 7px;
			width: 6px; height: 4px;
			position: absolute;
			@include triangle(right,$orange,4,6);

			@if $isAMP == 'true' {
				margin-top: 16px;

			} @else {
				margin-top: 13px;
				@include break(mobile){
					margin-top: 16px;
				}
			}
		}
	}
}