@import
"1structure/_reset.scss",
"1structure/_variables.scss",
"1structure/_mixin.scss",
"1structure/_base-grid.scss";

$isAMP: 'true';
$isDesk: 'false';

@import
"_header.scss",
"_footer.scss",
"_main-included-amp.scss",
"_interior-included-amp.scss",
//"2components/_accordion-amp.scss",
"2components/_articleBody-news-article.scss",
"2components/_grid-posts.scss",

//Home
"2components/_carousel-amp.scss",
"2components/_comments.scss",
"_home.scss",
"news/_news-list.scss",
"news/_interior-news.scss",

//Home Reviews
"reviews/_interior_reviews.scss",
"reviews/_reviews.scss", //Included article index
"reviews/_masthead.scss",

//Story + Featured
"2components/_header-featured.scss",
"2components/_chicklets.scss",

//Reviews Content
//"2components/_page-nav.scss",
"reviews/_review_box.scss",

//"2components/_slide-sort-selector.scss",

"products/_widget.scss";



/**** GENERIC STYLES ****/
body.interior {
	&.news {
		#content-header {
			.wrapper {
				padding: 20px 0 50px;
			}
		}
	}

	.nodraft-story{
	  color: #c00;
	  text-decoration: none;
	  font-weight: 600;
	  padding: 0 8px 0 0;
	}
}