body.interior {
	&.products {

		@if $isAMP != 'true' {
			#content {
				.wrapper {
					padding: 20px 0;
				}
			}
		}

		.excellent {
			background-color: #4eab3a;
		}
		.good {
			background-color: rgba(7,91,192,1);
		}
		.average {
			background-color: rgba(112,33,161,1);
		}
		.bad {
			background-color: rgba(204,0,0,1);
		}
		.none {
			background-color: rgba(153,153,153,1);
		}
		.alternate {
			background: white;
		}

		.col-2-3 {
			@if $isAMP == 'true' {
				width: 100%;
			} @else {
				width: 70%;
				@include break(mobile) {
					width: 100%;
				}
			}		
		}

		@if $isAMP != 'true' {
			.SideTitle, .SideProdContent li a{
				color: white;
			}
		}
		
		.post-list-product {
			width: 100%;

			&.pfindex {
				.ProdListInfo {
					h4 {
						margin-top: 13px;
						margin-bottom: 4px;
					}
				}
			}

			li {
				padding: 0px 2%;
				height: 85px;
				font-size: 0.9em;
				font-weight: normal;
				border-bottom: 1px solid #F1F1F1;
				border-top: 1px solid #EAEAEA;
				list-style-type: none;

				&:nth-child(even) {
					background: #f5f5f5;
				}

				@include break(v-mobile){
					padding: 5px 0
				}
			}
			.product-img {
				margin-top: 12px;
				float: right;
				width: 65px;
				border: 1px solid #DCDCDC;
				overflow: hidden;
				text-align: center;
				height: 55px;
				line-height: 55px;
				background: #fff;

				@include break(v-mobile) {
					display: none;
				}

				div {
					background-repeat: no-repeat;
					background-size: auto 100%;
					background-position: center;
					height: 100%;
				}
			}
			.ProdListInfo {
				float: left;
				margin-left: 12px;
				max-width: 65%;

				@include break(mobile){
					max-width: 52%;
				}
				
				@include break(v-mobile){
					max-width: 100%;
					float: none;
					margin-left: 78px;
				}

				h4 {
					font-weight: 500;
					letter-spacing: -0.333px;
					font-size: 1.1em;
					margin-top: 16px;
					line-height: 1.5;

					@include break(mobile){
						font-size: 1.1em;
						margin-top: 12px;
					}

					a {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: block;
					}
				}

				.ProdListCat {
					display: inline-block;
					float: left;

					a {
						text-transform: uppercase;
						line-height: 20px;
						background-color: #A2ADB8;
						width: 85px;
						text-align: center;
						font-weight: 550;
						color: white;
						border-radius: 2px;
						display: block;
						margin: 2px 8px 0 0;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						padding: 0 4px;
						font-size: 0.55em;
						margin-top: 2px;

						@include break(v-tablet){
							width: 80px;
							margin-right: 5px;
						}

						@include break(mobile){
							font-size: 0.5em;
							margin-top: 4px;
							margin-bottom: 4px;
						}

						&:hover {
							background-color: darken(#A2ADB8,10%);
						}
					}
				}
				
				time {
					color: #666666;
					line-height: 1.7;
					margin-top: 3px;
					display: inline-block;
					float: left;

					@if $isAMP == 'true' {
						font-size: 0.6em;

					} @else {
						font-size: 0.65em;

						@include break(v-tablet){
							font-size: 0.6em;
						}
					}

					@include break(v-mobile){
						position: relative;
					}					
				}
			}

			.prod-score {
				float: left;
				display: inline-block;
				height: 70px;
			    margin-top: 6px;

				.review_score {
					width: 60px;
					margin-top: 7px;
					height: 55px;
					display: inline-block;
					text-align: center;
					@include border-radius(3px);
					
					@include break(v-mobile) {
						width: 58px;
						margin-left: 7px;
					}

					.score {
						color: white;
						line-height: 40px;
						font-size: 1.6em;
						font-weight: 500;
					}
					.review{
						color: white;
						font-size: 0.6em;
						letter-spacing: -.333px;
						line-height: 5px;
						display: block;
					}
				}
			}

			.prod-meta {
				float: right;
				display: inline-block;
				height: 70px;

				@include break(v-mobile) {
					display: none;
				}

				@if $isAMP != 'true' {
					.intRank {
						color: $purple;
						font-weight: 500;
						font-size: 0.7em;
						float: left;
						width: 50px;
						text-align: right;
						margin-right: 18px;
						line-height: 70px;
						
						@include break(v-tablet) {
							display: none;				
						}
					}
				}
				.award {
					float: left;
					line-height: 70px;
					padding-right: 20px;
				}
				.price {
					font-weight: 500;
					font-size: 0.8em;
					float: left;
					line-height: 80px;
					padding-right: 10px;
					text-align: left;

					a {
						color: #2c9e41;

						@if $isAMP != 'true' {
							&:hover {
								color: darken(#2c9e41,10%);
							}
						}
					}

					@include break(v-mobile){
						display: none;
					}
				}
			}
		}

		@if $isAMP != 'true' {
			#LookUpTop {
				margin-bottom:20px;
				text-decoration: none;

				.SideTitle{
					background-color: $blue;
					padding: 0px 2%;
				}

				.form_search {
					overflow: hidden;
				}

				h3 {
					color: white;
					line-height: 34px;
					font-size: 0.95em;
				}

				input[type=text] {
					border: none;
					height: 48px;
					width: 96%;
					border-radius: 0;
					border: none;
					box-shadow: none;
					font-family: $f-condensed;
					line-height: 30px;
					font-weight: 500;
					color: #333;
					font-size: 1.1em !important;
					padding: 0px 2% !important;
				}

				input#productsearch {
					box-sizing: border-box;
				}
			}
		}

/*
		#CategoryListMobile {
			background: #304456;
			margin-bottom: 20px;
			width: 100%;
			text-transform: uppercase;
			font-family: $f-condensed;
			color: white;
			
			@if $isAMP == 'true' {
				font-size: 0.65em;
				display: block;
			
			} @else {
				font-size: 0.7em;
				display: none;

				@include break(v-tablet) {
					font-size: 0.65em;
				}
				
				@include break(mobile) {
					display: block;
				}
			}
			
			#CategoryList {
				background: #304456;
			}
			
			li, section { // section tag is used for AMP
				padding: 0px 0px;

				@if $isAMP == 'true' {
					line-height: 20px;
				} @else {
					line-height: 40px;
				}

				a {
					color: white;
					display: block;
					width: 100%;
					text-decoration: none;
				}
				@if $isAMP != 'true' {
					.arrow {
						opacity: 0;
					}
				}				
			}


			@if $isAMP != 'true' {
				.SideTitle{
					line-height: 31px;
					background-color: #7d8895;
					padding: 0px 15px;
					
					@include break(v-tablet) {
						padding: 0px 10px;
					}
					
					.arrow {
						@include triangle(down,white,4,6);
						float: right;
						margin-top: 12px;
						opacity: 1;
						margin-right: 4px;
					}
				}
			}

			@if $isAMP == 'true' {
				amp-accordion section {
					> h3 {
						border: 0px;
					}
				}
			}

			@if $isAMP != 'true' {
				.has_more{
					.SideTitle {
						.arrow {
							@include triangle(left,white,4,6);
							float: right;
							margin-top: -18px;
						}
					}
					.SideProdContent{
						display: none;
					}
				}
				.open{
					.SideTitle {
						.arrow {
							@include triangle(down,white,4,6);
							float: right;
							margin-top: -18px;
						}
					}
					.SideProdContent {
						display: block;
					}
				}
			}

			.col-1-2 {
				width: 45%;

				@if $isAMP == 'true' {
					float: left;
				}
			}
			.col-1-2-last{
				width: 45%;

				@if $isAMP == 'true' {
					float: right;
				}
			}

			.SideProdContent {
				@if $isAMP == 'true' {
					padding: 10px 0px 10px 10px;
				} @else {
					padding: 17px;
					background-color:#324455;

					@include break(v-tablet) {
						padding: 10px 0px 10px 10px;
					}
				}
				
				@if $isAMP != 'true' {
					li {
						line-height: 10px;
						margin-bottom: 14px;
						border: none;
						a {
							.arrow {
								opacity: 0;
								position: absolute;
								left: -10px;
								width: 6px; height: 4px;
								@include triangle(right,$orange,4,6);

								@if $isAMP == 'true' {
									margin: 0;
								} @else {
									margin: 0 !important;
								}
							}
						}
						a:hover, a.active {
							.arrow {
								opacity: 1;
								left: -10px;
								width: 6px; height: 4px;
								@include triangle(right,$orange,4,6);

								@if $isAMP == 'true' {
									margin: 0;
								} @else {
									margin: 0 !important;
								}
							}
						}
					}
				}
			}

			@if $isAMP != 'true' {
				.computer-hardware {
					height: 160px;
				}
				.pcs-devices {
					height: 40px;
				}
				.electronics {
					height: 65px;
				}
			}
		}
*/


		@if $isAMP == 'true' {
			.takeshortcut {
				background-color: #E87502;
				margin-bottom: 25px;
			}

			.imgtakeshortcut {
				float: left;
				margin-top: -8px;
				margin-right: 10px;
			}
		}

		@if $isAMP != 'true' {
			.sidebar {
				//@include col-last(1,3,0);
				//width: 27%;

				@include break(mobile){
					display: none;
				}

				.tab_box {
					margin-bottom: 21px;
				}

				.col-1-2 {
					width: 45%;
					@include break(v-tablet){
						width: 48%;
					}
					
				}
				.col-1-2-last{
					width: 45%;
					
				}

				/*
				#LookUp {
					text-transform: uppercase;
					font-family: $f-condensed;
					font-size: 0.7em;
					@include break(v-tablet){
						font-size: 0.6em;
					}
					a {
						color: white;
						text-decoration: none;
					}

					input[type=text] {
						border: none;
						height: 64px;
						border-radius: 0;
						border: none;
						box-shadow: none;
						font-family: $f-condensed;
						line-height: 64px;
						font-size: 2em;
						font-weight: 500;
						padding: 0px 15px;
						color: #333;
						
						&::-webkit-input-placeholder {
							color: #DFDFD0;
						}
						
						@include break(v-tablet){
							padding: 0px 10px;
						}
					}
					margin-bottom: 21px;
					
				}
				*/


			}
		}
	}

	&.product {

		#content {

			@include break(mobile){
				margin-top: 0px !important;
			}

			.sidebar {
				margin-top: 15px !important;

				@include break(v-tablet) {
					display: none;
				}
			}

			#pros_cons {
				@include break(mobile){
					padding-top: 0px !important;
				}
			}

			.articleBody {
				padding-top: 15px;

				@include break(v-tablet){
					padding-top: 10px;
				}
			}

			.section-header {
				font-weight: 600 !important;
				text-transform: none;
				line-height: 1.7;
				font-size: 1.6em;
			}
			
			ul.pros,
			ul.cons {
				padding: 10px 15px 15px 10px;
				margin-bottom: 0;
				font-size: 0.9em;

				@include break(v-mobile){
					height: inherit !important;
				}
				
				li {
					list-style-type: none;
					position: relative;
					margin-bottom: 10px;
					line-height: 150%;
					padding-left: 10px;
				
					&:before {
						content:"";
						position: absolute;
						width: 15px; height: 15px;
						left: -15px; top: 5px;
						background-image: url('https://#{$staticServer}.techspot.com/images/icons-pros-cons-hd.png');
						background-position: center left;
						background-size: 30px;
					}
				}
			
				&.cons {
					li {
						&:before {
							background-position: center right;
						}
					} 
				}
			}

			.price-history {
				.priceGraph {
					margin-right: 350px;
					height: 350px;
					margin-bottom: 50px;

					@include break(v-tablet){
						margin-right: 0;
						height: 350px;
						margin-bottom: 0px;
						width: 100%;
					}
				}

				.sidePrice {
					float: right;
					padding-top: 15px;
					width: 325px;

					@include break(v-tablet){
						float: none;
						padding-top: 5px;
						width: 100%;
					}
				}

				h4 {
					color: rgba(30, 41, 51, 0.95);
					font-size: 1em;

					@include break(mobile){
						text-align: center;
						font-size: 0.85em;
					}
				}

				.stat {
					color: #05408f;
					font-size: 0.65em;
					line-height: 2;

					@include break(mobile){
						text-align: center;
					}
				}

				.priceTable {
					font-size: 0.7em;
					font-family: Arial, sans-serif;
					margin-top: 20px;
					color: #444;
				}

				table.priceTable {
					tr:nth-child(even) {
						background: #f5f5f5;
					}

					tr.current {
						background: bisque;
					}

					td {
						padding: 5px 3px 5px 8px;
						line-height: 2;

						&.date {
							font-size: 0.85em;
							vertical-align: inherit;
						}

						&.currentPrice a {
							color: #43a92f;
							font-weight: bold;
							font-size: 1.05em;

							&:hover {
								color: rgb(85, 177, 18);
							}
						}
					}
				}

				.legend {
					font-size: 0.65em;
					margin-top: 20px;
				}
			}

			.sorter {
				float: left;
				border: 1px solid #ccc;
				padding: 3px 7px;
				margin: 7px 0 2px;
			}

			a.wide-button {
				display: block;
				background: #F8F8F8;
				letter-spacing: -0.5px;
				line-height: 50px;
				text-align: center;
				border: 1px solid #DDDDDD;
				border-style: none solid solid solid;

				@include break(mobile){
					font-size: 0.9em;
				}

				&:hover {
					background: #f6f6f6;
					border: 1px solid #ccc;
				}
			}

		}
	}


}