body.interior {
    &.products-cat {
        .filter_bar {
            background: #f5f5f5;
            padding: 8px 12px;
            border: 1px solid #e5e5e5;
            border-bottom: 0;
            font-size: 11px;

            .pills {
              display: inline;
              padding-left: 2px;
            }

            .sorter {
                float: right;
                font-size: 12px;
                position: relative;
                color: #555;
                text-align: right;
                z-index: 999;

                @include break(v-mobile){
                    display: none !important;
                }

                #sorted_by {
                    font-weight: 500;
                    text-transform: lowercase;
                }

                ul {
                    position: absolute;
                    display: none;
                    right: 0;
                    top: 18px;
                    width: 120px;
                    background: #F4F5F7;
                    text-align: left;
                    border: 1px solid #ccc;
                    border-radius: 2px;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
                }

                a {
                    color: #333;
                    background: none !important;
                    padding: 0;
                    text-shadow: none !important;
                }

                li {
                    background: none;
                    display: block;
                    border: 0;
                    height: 25px;
                    line-height: 25px;
                    margin: 0;
                    padding: 0;

                    .smaller {
                        font-size: 11px;
                    }

                    a {
                        display: block;
                        padding: 0 5px;
                        transition: none;

                        &:hover {
                            background: #32404D !important;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }

            .filter {
                border-top: 1px solid #e5e5e5;
                margin: 5px -10px -5px;
                height: 30px;
                padding: 0 10px;
                line-height: 30px;
                font-size: 12px;
                background: #f0f0f0;
                position: relative;
                display: none;
                background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));
                background-image: linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));

                .remove {
                    position: absolute;
                    right: 10px;
                    opacity: 0.75;

                    &:hover {
                        opacity: 1;
                    }
                }

                b {
                    color: #27333D;
                }

                input, select {
                    font-size: 12px;
                    font-family: Arial, Helvetica, sans-serif;
                }

                input[type="number"] {
                    width: 60px;
                    border: 1px solid #9f9fa1;
                    text-align: right;
                    border-radius: 2px;
                }
            }

            div.active {
                display: block !important;
            }
        }
    }

	&.products {

		#content {
			.wrapper {
				padding: 15px 0 30px;

				@include break(mobile) {
					padding: 0 0 30px;
				}
			}
		}

		// COLORS
		.blue {
		    background-color: #2b66ae;

			&:hover {
				background-color: #075bc0;
			}
		}
		.purple {
		    background-color: #725584;

			&:hover {
				background-color: #66427c;
			}
		}
		.green {
		    background-color: #5baf5b;

			&:hover {
				background-color: #459f45;
			}
		}
		.red {
		    background-color: #923c3c;

			&:hover {
				background-color: #aa4646;
			}
		}

		.SideTitle, .SideProdContent li a {
			color: white;
		}
		
		.post-list-product {

			li {
				display: grid;
				grid-template-columns: 64px minmax(350px, 1fr);
				grid-auto-flow: column;
				grid-auto-columns: minmax(72px, max-content);
				align-items: center;
				gap: 16px;

				padding: 4px 2%;
				min-height: 84px;
				border-bottom: 1px solid #29324140;
				border-top: none;

				&:nth-child(even) {
					background: #f5f5f5;
				}

				@include break(mobile) {
				    display: flex;          /* switch from grid -> flex on mobile */
				    flex-wrap: wrap;        /* badges can wrap to the next line */
				    align-items: center;
				    gap: 10px;
				    padding: 22px 10px;
				}
			}


			.product-img {
				width: 64px; height: 64px;
				overflow: hidden;
				border-radius: 5px;
				background: #fff;

				div { height: 100%; background: center / cover no-repeat; }

				@include break(mobile) {
					flex: 0 0 65px;
					margin: -5px 0 5px 0;
				}
			}

			.ProdListInfo {

				h4 {
					margin: 0;
					font-weight: 600;
					font-size: 1.1em;
					line-height: 1.3;
					
					a {
					  white-space: normal;
					  overflow: visible;
					  text-overflow: unset;
					  display: inline-block;
					  line-height: 1.3;
					}
				}

				@include break(mobile) {
					flex: 1 1 calc(100% - 105px);
					padding-right: 12px;
					margin-top: -5px;
				}
			}

			.speccy {
				display: grid;
				justify-items: center;

				@include break(mobile) {
					order: 2;
					flex: 0 0 50px;
				}

				.specss {
					height: 56px;
					display: grid;
					place-items: center;
					color: #fff;
					font-weight: 500;
					cursor: crosshair;
					width: 60px;
					border-radius: 4px;
					text-shadow: 1px 1px 5px rgb(0 0 0 / .5);
					opacity: 0.9;

					.specone {
						font-size: 1.2em;
						font-weight: 500;
						line-height: 1;
						margin-top: 3px;
						display: inline-flex;
						align-items: flex-start;
						white-space: nowrap;

						.smaller {
							font-size: 0.8em !important;
							margin-left: 1px;
							transform: translateY(0.2em);
						}
					}

					.label {
						font-size: 11px;
						opacity: 0.9;
						text-transform: uppercase;
						margin-top: -4px;
					}

					&.wide {
						width: 90px;
					}

					&.wider {
						width: 100px;
					}

					&.wide, &.wider {
						.score {
							font-size: 1.15em;
							margin-top: 4px;
						}

						.label {
							margin-top: -3px;
						}
					}

					&.socket {
						.score {
							font-size: 1em;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}

					&.price {
						width: 94px;

						.score {
							font-size: 1.05em;
							margin-top: 7px;
						}

						.label {
							margin-top: -3px;
						}
					}

					@include break(mobile) {
						height: 47px;

						.score {
							font-size: 1em !important;

							.smaller {
								font-size: 0.8em !important;
								margin-left: 1px;
								transform: translateY(0.2em);
							}
						}

						.label {
							font-size: 9px;
						}
					}
				}
			}

			.prod-meta {
				justify-self: end;
				align-self: center;
				height: auto;

				.award {
					line-height: 1; padding-right: 0;
				}

				@include break(mobile) { display: none; }
			}

		}

	}

	#LookUpTop {
		margin-bottom:20px;
		text-decoration: none;

		.form_search {
			overflow: hidden;
		}

		h3 {
			color: white;
			line-height: 34px;
			font-size: 0.95em;
		}

		input[type=text] {
			border: none;
			height: 48px;
			width: 96%;
			border-radius: 0;
			border: none;
			box-shadow: none;
			font-family: $f-condensed;
			line-height: 30px;
			font-weight: 500;
			color: #333;
			font-size: 0.9em;
			padding: 0px 2%;
			background-color: #e9e9e9;
			border-radius: 0px 0px 3px 3px;

			@include break(mobile) {
				padding: 0px 1% 0 3%;
			}			
		}

		input#productsearch {
			box-sizing: border-box;
		}
	}
}