body.interior {
	&.products {

		#content {
			.wrapper {
				padding: 25px 0 30px;

				@include break(mobile) {
					padding: 0 0 30px;
				}
			}
		}

		// COLORS
		.blue {
		    background-color: #2b66ae;

			&:hover {
				background-color: #075bc0;
			}
		}
		.purple {
		    background-color: #725584;

			&:hover {
				background-color: #66427c;
			}
		}
		.green {
		    background-color: #5baf5b;

			&:hover {
				background-color: #459f45;
			}
		}
		.red {
		    background-color: #923c3c;

			&:hover {
				background-color: #aa4646;
			}
		}

		.SideTitle, .SideProdContent li a {
			color: white;
		}
		
		.post-list-product {

			li {
				display: grid;
				grid-template-columns: 64px minmax(350px, 1fr);
				grid-auto-flow: column;
				grid-auto-columns: minmax(72px, max-content);
				align-items: center;
				gap: 16px;

				padding: 4px 2%;
				min-height: 84px;
				border-bottom: 1px solid #29324140;
				border-top: none;

				&:nth-child(even) {
					background: #f5f5f5;
				}

				@include break(mobile) {
				    display: flex;          /* switch from grid -> flex on mobile */
				    flex-wrap: wrap;        /* badges can wrap to the next line */
				    align-items: center;
				    gap: 10px;
				    padding: 22px 10px;
				}
			}


			.product-img {
				width: 64px; height: 64px;
				overflow: hidden;
				border-radius: 5px;
				background: #fff;

				div { height: 100%; background: center / cover no-repeat; }

				@include break(mobile) {
					flex: 0 0 65px;
					margin: -5px 0 5px 0;
				}
			}

			.ProdListInfo {

				h4 {
					margin: 0;
					font-weight: 600;
					font-size: 1.1em;
					line-height: 1.3;
					
					a {
					  white-space: normal;
					  overflow: visible;
					  text-overflow: unset;
					  display: inline-block;
					  line-height: 1.3;
					}
				}

				@include break(mobile) {
					flex: 1 1 calc(100% - 105px);
					padding-right: 12px;
					margin-top: -5px;
				}
			}

			.scoress {
				display: grid;
				justify-items: center;

				@include break(mobile) {
					order: 2;
					flex: 0 0 50px;
				}

				.specss {
					height: 56px;
					display: grid;
					place-items: center;
					color: #fff;
					font-weight: 500;
					cursor: crosshair;
					width: 60px;
					border-radius: 4px;
					text-shadow: 1px 1px 5px rgb(0 0 0 / .5);
					opacity: 0.9;

					.score {
						font-size: 1.3em;
						font-weight: 500;
						line-height: 1;
						margin-top: 3px;
					}

					.label {
						font-size: 11px;
						opacity: 0.9;
						text-transform: uppercase;
						margin-top: -4px;
					}

					&.wide {
						width: 90px;
					}

					&.wider {
						width: 100px;
					}

					&.wide, &.wider {
						.score {
							font-size: 1.15em;
							margin-top: 4px;
						}

						.label {
							margin-top: -3px;
						}
					}

					&.socket {
						.score {
							font-size: 1em;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}

					&.price {
						width: 94px;

						.score {
							font-size: 1.05em;
							margin-top: 7px;
						}

						.label {
							margin-top: -3px;
						}
					}

					@include break(mobile) {
						height: 47px;

						.score {
							font-size: 1em  !important;
						}

						.label {
							font-size: 9px;
						}
					}
				}
			}

			.prod-meta {
				justify-self: end;
				align-self: center;
				height: auto;

				.award {
					line-height: 1; padding-right: 0;
				}

				@include break(mobile) { display: none; }
			}

		}

	}
}