body.dark {

	#product_info .product-details a,
	#product_info .reviewed_by a,
	#product_info .score_users .breakdown a,
	#product_info .product-desc .last-updated a,
	.expert-reviews-and-ratings .comment a,
	#product_info .score .breakdown a,
	.product_description a,
	.price-history .legend a,
	.newver > a,
	#product_info .bestof a .breakdown h3,
	.scoretext p a,
	.benchmark-disclaimer a
	{
		color: $dark-link;
		&:hover { color: $dark-link-hov; }
	}

	&.products {
		.post-list-product {
			.ProdListInfo {
				.ProdListCat {
					a {
						background-color: #415f7d;
						&:hover {
							background-color: #535e69;
						}
					}
				}
				h4 {
					a {
						color: #d8d8d8;
						&:hover {
							color: $dark-link-hov-orange;
						}
					}
				}
			}
			li {
				border-bottom: 1px solid #535E69;
				border-top: 0px solid #535E69;
			}
			.prod-meta {
				.price {
					a {
						color: #91a5be;
						&:hover {
							color: #a3b6ce;
						}
					}
				}
			}
			.product-img {
				border-radius: 4px;
			}
		}
	}
	&.products-cat {
		.filter_bar {
			background: #3f4b56;
			border: 1px solid #212a33;

			.filter {
				border-top: 2px solid #242931;
				background: #404b56;
			}
		}
	}

	#product_info {
		background: transparent;
		img {
			border-radius: 4px;
		}

		.spec {
			&.blue {
				background-color: #255692;
					&:hover {
						background-color: #075bc0;
					}
			}
		}
		
		/*
		.spec {
			background-color: rgb(44 84 132 / 90%);

			&.purple {
			    background-color: rgb(84 62 98 / 70%);
			}
			&.green {
			    background-color: rgb(61 131 61 / 70%);
			}
			&.red {
			    background-color: rgb(132 49 49 / 70%);
			}
		}
		*/

		.bestof {
			a {
				.awardtext {
					text-shadow: none;
					color: white;
					position: relative;

					&:hover {
						color: white;
					}
				}

				.breakdown {
					color: #fff;
				}
			}
		}

		figure {
			border-radius: 4px;
			background: transparent;
			.flex-control-paging {
				li {
					a {
						border: 2px solid transparent;
					}
				}
			}
		}

		.product-desc {
			nav {
				ul {
					li {
						&:first-child {
							border-right: 1px solid #535E69;
						}
					}
				}
			}
			.price-widget {
				.price-int {
					background-color: #394048;
					color: #b7b7b7;
					a {
						color: #9dc19d;
						&:hover {
							color: #fff;
						}
					}
				}
			}
			.last-updated {
				color: #999;
			}
		}
		.score_users {
			border-top: 2px solid #535e69;
		}
	}

	#priceChart {
		filter: invert(1) hue-rotate(180deg);
	}

	.expert-reviews-and-ratings .comment:nth-child(odd),
	&.interior.products .post-list-product li:nth-child(even) {
		background: transparent;
	}
	#product_info .product-desc nav ul li a,
	#product_info .product-desc nav ul li a span.red,
	#product_info .product-desc nav ul li a span.blue,
	#product_info .reviewed_by {
		color: #aeaeae;
	}
	.also-looked-at ul.teaser-list li {
		background: #404b5a;
	}

	.also-looked-at>h3:after, .expert-reviews-and-ratings>h3:after {
		border-top: 6px solid #535E69;
	}

	#product_info .bestof.withBorder {
		border-bottom: 4px solid #535E69;
	}

	#product_info .product-desc .price-widget .price-count, #product_info .product-desc .price-widget #artificialBorder {
		background-color: #339933a3;
	}
	.expert-reviews-and-ratings {
		.comment {
			border-bottom: 1px solid #535E69 !important;
		}
	}
	#product_info .product_description, .section-byline {
		color: #eee;
	}

	&.interior.product #content ul.pros li:before,
	&.interior.product #content ul.cons li:before {
		border-radius: 10px;
	}

	&.interior.products .post-list-product .prod-score,
	#product_info .score .number, #product_info .score_users .number,
	.expert-reviews-and-ratings .comment .rating {
		opacity: 0.86;
	}

	.best-logo img, #product_info .bestof a .awardlogo img,
	.best-logo2 img, #product_info .bestof a .awardlogo2 img {
		filter: invert(1) hue-rotate(180deg) opacity(0.7);
		background: transparent !important; 
	}

	.price-history {
		.priceTable {
			background: $dark-back;
			color: #fff !important;
		}
		table.priceTable {
			tr:nth-child(even) {
				background: #37414b !important;
			}

				td {
					&.currentPrice a {
						color: #8dbc83 !important;
					}
				}

		}

		.sorter {
			border: 1px solid #f3b26d !important;

			a {
				color: #da9c59;

				&:hover {
					color: #f5f5f5;
				}
			}
			li {
				a {
					&.filter {
						color: #555;
						&:hover {
							color: #f5f5f5;
						}
					}
				}
			}
		}
	}
	.price-history h4,
	.price-history .stat {
		color: #ccc !important;
	}
	.chartjs-render-monitor {
		filter: invert(1) hue-rotate(180deg);
	}
	.price_alert {
		background: #535e6985;
		&.below {
			background: #535e69;
		}
	}
	.price_alert .pa-text b, .price_alert .pa-new {
		color: #88a788;
	}

	#LookUpTop {
		input[type=text], input[type=password] {
			background: #3f4850 !important;
			color: #fff !important;
		}
	}

}