body.dark {

	#product_info .product-details div .item a,
	#product_info .specs div .item a,
	#product_info .product-details a,
	.publisher-description a,
	.short-desc a,
	.altlink
	{
		color: $dark-link;
		&:hover { color: $dark-link-hov; }
	}

	&.download {
		.download-index {
			h1 {
				color: #eee;
			}
		}
		#content-header {
			.title-group {
				.subver {
					color: #bbb;
				}
			}
		}
		.downloads-list {
			.subdown {
				color: #9ea4aa;
				&.drivers {
					background-color: #3C444F;
				}
			}
			.subver {
				color: #999 !important;
			}
		}

		#product_info {
			.download-product {
				border-left: 2px solid #535e69;

				@include break(mobile){
					border-left: none;
				}
				
			}
			.product-details {
				border-color: #535E69;
			}
			.mirror-wrapper {
				li {
					a {
						color: #a9b6c6 !important;
						border: 1px solid #494949;
						background-color: #0b0b0b;
						
						&:hover {
							background-color: #111;
							border-color: $dark-link-hov-orange;
							color: #ddd !important;
						}
					}
				}
			}
			.specs {
				div {
					&.alt {
						background-color: #32373d;
					}
				}
			}
		}
	}


	// DOWNLOAD INDEX 
	.downloads-index-cats {
		background: #242931;
		border: none;
	}
	.downloads-index-cats ul.cats {
	    border-top: 2px solid #535e69;
	}
	.specialcats {
	    background: #505965;
	    border: none;

		a {
			color: #fff;
		
			&:hover {
				color: $dark-link-hov-orange;
			}
		}
	}

	.adContainerSide {
	    background: #282e36;
	}

	.search-box-index {
	    margin: 0;
	    background: #282e36;

	    h4 {
	        color: #fff;
	    }
	}


	li {
		&.maincat {
			background: $dark-back;
			border-bottom: 1px solid #535e69;

			&:nth-child(odd) {
				background: #37414b;
			}

			a {
			    color: #e1e1e1;

				&:hover {
					color: $dark-link-hov-orange;
				}
			}

			&.subcat a {
			    color: #c5c5c5;
			}
		}
	}

	.search-box {
		background: #2b323a !important;
		border: none;
		h4 {
			color: #ddd;
		}
	}

	.shortcuts a li {
	    filter: invert(1) hue-rotate(180deg);
	}

	&.interior.download .downloads-list ul li .download_rating span img,
	&.interior.download #product_info .product-details div .item img,
	&.interior.download #product_info .specs div .item img,
	&.interior.download .articleBody img.infoicon {
		filter: invert(1) hue-rotate(180deg);
	}

	&.interior.download #product_info .download-product,
	&.interior.download #product_info .product-details.drivers {
		color: #ddd;
	}
	
	.download_certified {
		img {
			filter: invert(.92) hue-rotate(170deg) saturate(1.2);
		}
	}

}