// Styling title for article & news
.article, .news { 
	.articleBody {
		p {
			a {
				color: inherit;
				box-shadow: inset 0 -2px 0 #5e9cea;
				padding-bottom: 3px;
				transition: all .15s ease-in-out;

				&:hover {
					color: #075bc0;
					box-shadow: inset 0 -2px 0 #ffc082;
				}
				&:active {
					position: relative;
					top: 1px;
				}
			}
		}
		h2 {
			padding: 25px 0 10px;

			&.subtitle {
				padding: 10px 0 10px;
			}

			@include break(mobile) {
				font-size: 1.5em !important;
			}
		}

		h3 {
			padding: 25px 0 10px;

			@include break(mobile) {
				font-size: 1.35em !important;
			}
		}

		h4 {
			padding: 15px 0 10px;

			@include break(mobile) {
				font-size: 1.2em !important;
			}
		}

		table {
			margin-bottom: 30px;
			overflow-x: auto;

			@include break(v-mobile) {
				display: block;
			}	
		}

		.twitter-tweet, .twitter-tweet-rendered {
			margin: 15px auto !important;
		}

		iframe {
			&.twitter-tweet, &.instagram-media {
				margin: 15px auto !important;
			}
		}
		
	}
}