body.interior {

		&.category {

			#content-header {
				.wrapper {

					@include break(mobile) {
						padding: 25px 0 18px;
					}
				}
				
				.title-group {
					margin-top: 20px;

					figure {
						float: left !important;
						padding-right: 10px;

						@include break(mobile) {
							padding-right: 6px;					

							img {
								width: 50px;
								height: 39px;
								margin-top: -2px;
							}
						}
					}
					
					h1.large {
						font-size: 2.4em; 
						line-height: 1.2;
						padding-bottom: 10px;

						@include break(mobile) {
							font-size: 1.6em;
						}
					}

					h2 {
						font-size: 0.85em;
						color: #555;

						@include break(mobile) {
							font-size: 0.8em;
						}
					}
				}
			}
		}
}

	#CategoryListOne{
		background: #304456;

		li {
			line-height: 40px;
			padding: 0px 15px;

			@include break(v-tablet){
				line-height: 30px;
			}

			a {
				color: white;
				display: block;
				width: 100%;
				text-decoration: none;
			}

			.arrow {
				opacity: 0;
			}

			&:hover, &.active {
				background: white;
				a {
					color: black;
				}
				.arrow{
					@include triangle(right,$orange,4,6);
					float: right;
					margin-top: 15px;
					opacity: 1;

					@include break(mobile){
					    margin-top: 12px;
					}
				}
			}
		}
	}

	// titulo para CategoryListOne
	.SideTitleOne{
		color: white;
		background-color: $blue;
		margin-top: -5px;
		line-height: 33px;
		padding: 0px 15px;
		@include break(v-tablet){
			padding: 0px 10px;
		}

		.arrow {
			@include triangle(down,white,4,6);
			float: right;
			margin-top: -18px;
			opacity: 1;
		}
	}

	.has_more{
		.SideTitle{
			.arrow{
				@include triangle(left,white,4,6);
				float: right;
				margin-top: -19px;
				display: none;
				@include break(mobile){
					display: block;
				}
			}
		}
		.sub{
			@include break(mobile){
				display: none;
			}
		}
	}
	.open{
		.SideTitle{
			.arrow{
				@include triangle(down,white,4,6);
				float: right;
				margin-top: -18px;
				display: none;
				@include break(mobile){
					display: block;
				}
			}
		}
		.sub{
			display: block;

			@include break(mobile){
				columns: 2;
			    padding: 6px 0;
			}
		}
	}