ul.category-chicklets {
	
	@include break(mobile){
		margin: 18px 0 14px;
	}

	@include break(mobile){
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		white-space: nowrap;
		width: 98%;
		height: 27px;

		&::-webkit-scrollbar {
		    display: none;
		}
	}

	li {
		display: inline-block;
		border-radius: 2px;
		margin-right: 2px;

		a {
			display: block;
			padding: 1px 8px;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: .58em;
			font-weight: 600;
			letter-spacing: 0.2px;
			line-height: 22px;

			&.black { color: #000; }
			
		}

		&.blue, &.reviews, &.techspot																						{ background-color: $blue;		@if $isDesk == 'true'  { &:hover { background-color: lighten($blue,8%); } } }
		&.blue2, &.microsoft, &.windows, &.tips-tricks																		{ background-color: #0088CC;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#0088CC,7%); } } }
		&.blue3, &.apple, &.ai, &.storage, &.laptops																		{ background-color: #3a83a8;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#3e96c2,8%); } } }
		&.blue4, &.explainers, &.tag1																						{ background-color: #05408f;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#05408f,8%); } } }
		&.navy, &.products, &.downloads																						{ background-color: #00366F;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#00366F,8%); } } }
		&.navy2, &.industry																									{ background-color: #4745a3;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#4745a3,8%); } } }

		&.green, &.hardware, &.drivers																						{ background-color: $green;		@if $isDesk == 'true'  { &:hover { background-color: lighten($green,4%); } } }	
		&.green2, &.science																									{ background-color: $dark-green;@if $isDesk == 'true'  { &:hover { background-color: lighten($dark-green,8%); } } }
		&.green3, &.features, &.monitors, &.google																			{ background-color: #237A3C;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#237A3C,6%); } } }
		&.green4, &.mobile, &.smartphones																					{ background-color: #3a927c;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#3a927c,6%); } } }

		&.green5, &.deals																									{ background-color: #779954;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#779954,8%); } } }
		&.green6, &.wof																										{ background-color: #85B200;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#85B200,4%); } } }

		&.purple, &.software																								{ background-color: $purple;	@if $isDesk == 'true'  { &:hover { background-color: lighten($purple,6%); } } }
		&.purple2, &.electronics, &.audio, &.cpu, &.motherboards, &.input-devices, &.cases									{ background-color: #5353ac;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#5353ac,5%); } } }

		&.orange, &.guides, &.web, &.home, &.blog, &.desktop-pcs															{ background-color: #d26c0a;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#d26c0a,5%); } } }
		&.red, &.gaming, &.graphics-cards, &.must-reads, &.games															{ background-color: $red;		@if $isDesk == 'true'  { &:hover 	{ background-color: lighten($red,5%); } } }
		&.red2, &.buying-guides, &.bestof, &.video																			{ background-color: #CC3333;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#CC3333,5%); } } }
		&.red3, &.security, &.tablets																						{ background-color: #ac5353;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#ac5353,5%); } } }
		&.red4, &.crimson, &.tag2																							{ background-color: #8f1515;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#8f1515,5%); } } }

		&.grey, &.natw, &.culture, &.tech-culture																			{ background-color: $light-grey2;	@if $isDesk == 'true'  { &:hover { background-color: lighten($light-grey2,8%); } } }
		&.grey2, &.space  																									{ background-color: #3a3a3a;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#3a3a3a,6%); } } }

		&.yellow, &.wearables, &.desktop-pcs																				{ background-color: #f9d236;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#f9d236,6%); } } }
		&.yellow2, &.dotw, &.car-tech																						{ background-color: #DD9C08;	@if $isDesk == 'true'  { &:hover { background-color: lighten(#DD9C08,4%); } } }

		// Texto negro
		&.yellow, &.wearables, &.desktop-pcs {
			a {
				color: #444;
			}
		}
	}
}