@use "../1structure/variables" as *;
@use "../1structure/base-grid" as *;
@use "sass:color";

ul.category-chicklets {

	@include break(mobile){
		margin: 18px 0 14px;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		white-space: nowrap;
		width: 98%;
		height: 27px;

		&::-webkit-scrollbar {
		    display: none;
		}
	}

	li {
		display: inline-block;
		border-radius: 2px;
		margin-right: 3px;

		background-color: #2464bf;
		@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#2464bf, $lightness: 8%); transition: all .3s ease; } }

		a {
			display: block;
			padding: 2px 8px;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: .6em;
			font-weight: 600;
			letter-spacing: 0.25px;
			line-height: 22px;

			@include break(mobile){
				letter-spacing: 0.1px;
			}

			&.black { color: #000; }
			
		}

		&.blue, &.reviews, &.techspot																						{ background-color: $blue;		@if $isDesk == 'true'  { &:hover { background-color: color.adjust($blue, $lightness: 8%); } } }
		&.blue2, &.microsoft, &.windows, &.tips-tricks																		{ background-color: #0088CC;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#0088CC, $lightness: 7%); } } }
		&.blue3, &.apple, &.ai, &.storage, &.laptops																		{ background-color: #3a83a8;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#3e96c2, $lightness: 8%); } } }
		&.blue4, &.explainers, &.tag1																						{ background-color: #05408f;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#05408f, $lightness: 8%); } } }
		&.navy, &.products, &.downloads																						{ background-color: #00366F;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#00366F, $lightness: 8%); } } }
		&.navy2, &.industry																									{ background-color: #4745a3;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#4745a3, $lightness: 8%); } } }

		&.green, &.hardware, &.drivers																						{ background-color: $green;		@if $isDesk == 'true'  { &:hover { background-color: color.adjust($green, $lightness: 4%); } } }	
		&.green2, &.science																									{ background-color: $dark-green;@if $isDesk == 'true'  { &:hover { background-color: color.adjust($dark-green, $lightness: 8%); } } }
		&.green3, &.features, &.monitors, &.google																			{ background-color: #237A3C;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#237A3C, $lightness: 6%); } } }
		&.green4, &.mobile, &.smartphones																					{ background-color: #3a927c;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#3a927c, $lightness: 6%); } } }

		&.green5, &.deals																									{ background-color: #779954;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#779954, $lightness: 8%); } } }
		&.green6, &.wof																										{ background-color: #85B200;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#85B200, $lightness: 4%); } } }

		&.purple, &.software																								{ background-color: $purple;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust($purple, $lightness: 6%); } } }
		&.purple2, &.electronics, &.audio, &.cpu, &.motherboards, &.input-devices, &.cases									{ background-color: #5353ac;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#5353ac, $lightness: 5%); } } }

		&.orange, &.guides, &.web, &.home, &.blog, &.desktop-pcs															{ background-color: #d26c0a;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#d26c0a, $lightness: 5%); } } }
		&.red, &.gaming, &.graphics-cards, &.must-reads, &.games															{ background-color: $red;		@if $isDesk == 'true'  { &:hover 	{ background-color: color.adjust($red, $lightness: 5%); } } }
		&.red2, &.buying-guides, &.bestof, &.video																			{ background-color: #CC3333;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#CC3333, $lightness: 5%); } } }
		&.red3, &.security, &.tablets																						{ background-color: #ac5353;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#ac5353, $lightness: 5%); } } }
		&.red4, &.crimson, &.tag2																							{ background-color: #8f1515;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#8f1515, $lightness: 5%); } } }

		&.grey, &.natw, &.culture, &.tech-culture																			{ background-color: $light-grey2;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust($light-grey2, $lightness: 8%); } } }
		&.grey2, &.space  																									{ background-color: #3a3a3a;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#3a3a3a, $lightness: 6%); } } }

		&.yellow, &.wearables, &.desktop-pcs																				{ background-color: #f9d236;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#f9d236, $lightness: 6%); } } }
		&.yellow2, &.dotw, &.car-tech																						{ background-color: #DD9C08;	@if $isDesk == 'true'  { &:hover { background-color: color.adjust(#DD9C08, $lightness: 4%); } } }

		// Texto negro
		&.yellow, &.wearables, &.desktop-pcs {
			a {
				color: #444;
			}
		}
	}
}