.grid-posts {
	&.grid-section {
		background: #eee;
		padding: 15px 0 0px;
	}

	&.secondary {
		@include break(mobile) {
			padding: 0 !important;
		}

		.masthead {
			background: none;

			@include break(mobile) {
				height: $tile-height-mobile-sec + 11 !important;
			}

			.wrapper {
				padding: 0 !important;

				@include break(mobile) {
					height: $tile-height-mobile-sec;
				}
			}

			ul.featured-posts {
				li {
					width: $tile-width-percent;

					@include break(mobile){
						height: $tile-height-mobile-sec;
						width: $tile-width-mobile;
					}

					a {
						@include break(mobile) {
							height: $tile-height-mobile-sec - 35;
						}
					}
				}
			}
		}
	}

	&.home {
		@include break(mobile) {
			margin: -10px auto 20px;
		}

		ul.featured-posts {
			li {
				a {
					hgroup {
						bottom: 32px;
						text-wrap: balance;

						@include break(mobile) {
							bottom: 20px;
						}
					}
				}
			}
		}
	}
}

.masthead {
	background: #4D5761;
	position: relative;
	left: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	&.BigHead {
		height: ($tile-height * 3) + 2;
	}

	&.SmallHead {
		height: ($tile-height * 2) - 5;
	}

	.FGheadCom {
		display: none;
	}

	.wrapper {
		position: relative;
		width: 100%;
	}

	ul.featured-posts {
		li {
			width: $tile-width-percent;
			height: $tile-height - $tile-padding;
			top: 0;
			left: 0;
			position: absolute;
			background-size: cover;
			background-position: center center;
			overflow: hidden;

			&.tall {
				height: $tall-tile-height - $tile-padding;

				a {
					height: $tall-tile-height - 30px;
					hgroup {

						h2 {
							font-size: $tall-tile-font-size;

							@if $isDesk == 'true' {
							@include break(v-tablet) {
								font-size: $mobile-tile-font-size;
							}}
						}
					}
				}

			}

			a {
				position: relative;
				display: block;
				padding: 15px;
				color: white;
				height: $tile-height - 27px;

				background: linear-gradient(195deg,rgba(21,76,143,.1) 40%,rgba(30,41,51,.85) 70%);
				z-index: 100;

				&:before {
					background: linear-gradient(195deg,rgba(34,34,34,.25) 30%,rgba(34,34,34,.85) 90%);
					content: '';
					display: block;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0.65;
					width: 100%;
					z-index: -100;
					transition: opacity 0.2s;
				}

				&:hover {
					&:before {
						opacity: 0;
					}
				}

				hgroup {
					width: 90%;
					position: absolute;
					bottom: 20px;
					display: block;
					text-wrap: balance;

					h3 {
						text-transform: uppercase;
						font-size: .625em;
						text-shadow: 0 0 2px #000;
						color: $grid-orange;
						padding-bottom: 3px;
					    letter-spacing: .1px;
						font-weight: 600;
						line-height: 1.4;
					}

					h2 {
						font-size: $tile-font-size;
						font-weight: 600;
						letter-spacing: -.35px;
						line-height: 1.5;
						display: inline;

						@include break(tablet) {
							font-size: 0.95em;
						}

						@include break(mobile) {
							font-size: $mobile-tile-font-size;
						}
					}
				}
			}

		}

	}

	// Mobile no usa VARIATIONS
	@if $isDesk == 'true' {
		ul.variation-3 {
			li {
				height: $tile-height-sec - $tile-padding - 10;

				a {
					padding: 15px;
					height: $tile-height-sec - 40px - $tile-padding;

					hgroup {
						width: 70%;
						bottom: 16px;

						h3 {
							font-size: .6em;
							padding-bottom: 5px;
						}

						h2 {
							font-size: 1.2em;
							max-height: 100px;
							overflow: hidden;
							line-height: 1.35;
						}
					}
				}

				&:nth-child(1) {
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					left: calc(#{$tile-width-percent} + #{$tile-padding-pct});
				}

				&:nth-child(3) {
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2});
				}

				&:nth-child(4) {
					top: ($tile-height-sec + 1);
					left: 0;
				}

				&:nth-child(5) {
					left: calc(#{$tile-width-percent} + #{$tile-padding-pct});
					top: ($tile-height-sec + 1);
				}

				&:nth-child(6) {
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2});
					top: ($tile-height-sec + 1);
				}
			}

			&.feat {
				li {
					a {
						hgroup {
							width: 90%;
						}
					}
				}
			}
		}//variation-3

		ul.variation-5 {
			li{
				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					width: calc(66% + 5px);
					a {
						height: $tall-tile-height - 30px;
						hgroup { h2 { font-size: $tall-tile-font-size; } }
					}
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2;
					left: 0;
				}//nth
				&:nth-child(3) {
					top: ($tile-height + 1)*2;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: 0;
				}//nth
				&:nth-child(5) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1);
					height: $tall-tile-height - $tile-padding;
					a {
						height: $tall-tile-height - 30px;
						hgroup { h2 { font-size: $tall-tile-font-size; } }
					}
				}//nth
				&:nth-child(6) { display: none; }
				&:nth-child(7) { display: none; }
				&:nth-child(8) { display: none; }
			}//li
		}//variation-5

		ul.variation-5a {
			li {
				&.tall {
					height: $tile-height - $tile-padding;
					a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(2) {
					top: 0;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(3) {
					top: ($tile-height + 1);
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					top: 0;
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
				}//nth
				&:nth-child(5) {
					top: ($tile-height + 1);
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
				}//nth
				&:nth-child(6) { display: none; }
				&:nth-child(7) { display: none; }
				&:nth-child(8) {display: none;}
			}//li
		}//variation-5a

		ul.variation-5c {
			li {
				height: $tile-height - $tile-padding * 2 !important;

				&:nth-child(1) {
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					top: ($tile-height-sec + 1);
					left: 0;
				}

				&:nth-child(3) {
					left: calc(#{$tile-width-percent} + #{$tile-padding-pct});
					height: ($tile-height-sec * 2) - $tile-padding !important;
				}

				&:nth-child(4) {
					top: 0;
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2});
				}

				&:nth-child(5) {
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2});
					top: ($tile-height-sec + 1);
				}
			}
		}//variation-5c


		ul.variation-6{
			li {
				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2; left: 0;
				}//nth
				&:nth-child(3) {
					top: 0;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					top: ($tile-height + 1);
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(5) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: 0; height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(6) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1)*2;
				}//nth
				&:nth-child(7) { display: none; }
				&:nth-child(8) { display: none; }
			}//li
		}//variation-6

		ul.variation-6a{
			li {
				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2; left: 0;
				}//nth
				&:nth-child(3) {
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
					top: 0; height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(4) {
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
					top: ($tile-height + 1)*2;
					height: $tile-height - $tile-padding;
				}//nth
				&:nth-child(5) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: 0; height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(6) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1)*2;
				}//nth
				&:nth-child(7) { display: none; }
				&:nth-child(8) {display: none;}
			}//li
		}//variation-6a

		ul.variation-6b {
			li {
				// Columna fina
				$tile-width-percent: 32%;
				// Columna gruesa
				$tile-width-percent-wide: 35%;
				width: $tile-width-percent-wide;

				&.tall {
					height: $tile-height - $tile-padding;
					a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }

				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					width: calc($tile-width-percent*2 + 5px);
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2;
					left: 0;
					width: $tile-width-percent;
				}//nth
				&:nth-child(3) {
					top: ($tile-height + 1)*2;
					left: $tile-width-percent;
					width: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: 0;
				}//nth
				&:nth-child(5) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1);
				}
				&:nth-child(6) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1)*2;
				}
				&:nth-child(7) {display: none;}
				&:nth-child(8) {display: none;}
			}//li
		}//variation-6b

		ul.variation-6c {
			li {

				height: $tile-height - $tile-padding * 2 !important;

				&:nth-child(1) {
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					top: ($tile-height-sec + 1);
					left: 0;
				}

				&:nth-child(3) {
					left: calc(#{$tile-width-percent} + #{$tile-padding-pct});
				}

				&:nth-child(4) {
					left: calc(#{$tile-width-percent} + #{$tile-padding-pct});
					top: ($tile-height-sec + 1);

				}

				&:nth-child(5) {
					top: 0;
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2});
				}

				&:nth-child(6) {
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2});
					top: ($tile-height-sec + 1);
				}
			}
		}

		ul.variation-7{
			li {
				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2; left: 0;
				}//nth
				&:nth-child(3) {
					top: 0;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					top: ($tile-height + 1);
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(5) {
					top: ($tile-height + 1)*2;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(6) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: 0;
				}//nth
				&:nth-child(7) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1);
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(8) {display: none;}
			}//li
		}//variation-7

		ul.variation-7a{
			li {
				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2; left: 0;
				}//nth
				&:nth-child(3) {
					top: 0;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					top: ($tile-height + 1);
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }
				}//nth
				&:nth-child(5) {
					top: 0;
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
				}//nth
				&:nth-child(6) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1);
				}//nth
				&:nth-child(7) {
					left: $tile-width-percent*2;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1)*2;
				}
				&:nth-child(8) {display: none;}
			}//li
		}//variation-7a

		ul.variation-8{
			li {
				// Columna fina
				$tile-width-percent: 32%;
				// Columna gruesa
				$tile-width-percent-wide: 35%;
				width: $tile-width-percent;

				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
					height: $tall-tile-height - $tile-padding;
					a { height: $tall-tile-height - 30px; hgroup { h2 { font-size: $tall-tile-font-size; } } }

					width: $tile-width-percent-wide;
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1)*2; left: 0;

					width: $tile-width-percent-wide;
				}//nth
				&:nth-child(3) {
					top: 0;
					left: $tile-width-percent-wide;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(4) {
					top: ($tile-height + 1);
					left: $tile-width-percent-wide;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(5) {
					top: ($tile-height + 1)*2;
					left: $tile-width-percent-wide;
					margin-left: $tile-padding-pct;
				}//nth
				&:nth-child(6) {
					left: $tile-width-percent-wide + $tile-width-percent;
					margin-left: $tile-padding-pct*2;
					top: 0;
				}//nth
				&:nth-child(7) {
					left: $tile-width-percent-wide + $tile-width-percent;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1);
				}
				&:nth-child(8) {
					left: $tile-width-percent-wide + $tile-width-percent;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1)*2;
				}
			}//li
		}//variation-8

		ul.variation-8a{
			li {
				// Columna fina
				$tile-width-percent: 28%;
				// Columna gruesa
				$tile-width-percent-wide: 42%;
				width: $tile-width-percent;

				&.tall { height: $tile-height - $tile-padding; a { height: $tile-height - 30px; hgroup { h2 { font-size: 1em; } } } }
				&:nth-child(1) {
					top: 0; left: 0;
				}//nth
				&:nth-child(2) {
					top: ($tile-height + 1); left: 0;
				}//nth
				&:nth-child(3) {
					top: ($tile-height + 1)*2; left: 0;
				}//nth
				&:nth-child(4) {
					top: 0;
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
					height: $tall-tile-height - $tile-padding;

					a {
						height: $tall-tile-height - 30px;
						hgroup {
						    padding: 3px 5px;
							h2 { font-size: $tall-tile-font-size; }
						}

						&:before {
							background: linear-gradient(195deg,rgba(34,34,34,.18) 40%,rgba(34,34,34,.85) 90%);
						}
					}

					width: $tile-width-percent-wide;
				}//nth
				&:nth-child(5) {
					left: $tile-width-percent;
					margin-left: $tile-padding-pct;
					top: ($tile-height + 1)*2;

					width: $tile-width-percent-wide;
				}//nth
				&:nth-child(6) {
					left: $tile-width-percent + $tile-width-percent-wide;
					margin-left: $tile-padding-pct*2;
					top: 0;
				}//nth
				&:nth-child(7) {
					left: $tile-width-percent + $tile-width-percent-wide;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1);
				}
				&:nth-child(8) {
					left: $tile-width-percent + $tile-width-percent-wide;
					margin-left: $tile-padding-pct*2;
					top: ($tile-height + 1)*2;
				}
			}//li
		}//variation-8a
	}//desk no usa variations

	@if $isDesk == 'true' {
		@include break(tablet){

			.wrapper {
				position: relative;
				width: 100%;
			}

			ul.featured-posts {
				width: inherit;

				li {
					top: 0;
					left: 0;
					position: absolute;
					background-size: cover !important;
					background-position: center center;

					&.tall {
						a {
							hgroup {
								h2 {
									font-size: $tall-tile-font-size;
								}
							}
						}
					}

					a {
						position: relative;
						display: block;
						padding: 15px;
						color: white;
						//height: $tile-height - 30px;

						hgroup {
							width: 90%;
							position: absolute;
							bottom: 15px;
							display: block;
						}
					}
				}
			}


		/* NO NECESITO VARIATIONS DE TABLET CON CAMBIOS EN DESKTOP

			ul.variation-5 {
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0; width: 2/3*100%;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: ($tile-height + 1)*2; margin-left: 2px; left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						top: 0; left: 2/3*100%;
					}//nth
					&:nth-child(5) {
						left: 2/3*100%; top: ($tile-height + 1);
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(6) {display: none;}
					&:nth-child(7) {display: none;}
					&:nth-child(8) {display: none;}
				}//li
			}//variation-5
			ul.variation-5a {
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: 0; left: 1/3*100%;
					}//nth
					&:nth-child(3) {
						top: ($tile-height + 1); left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						top: 0; left: 2/3*100%;
					}//nth
					&:nth-child(5) {
						left: 2/3*100%; top: ($tile-height + 1);
					}//nth
					&:nth-child(6) {display: none;}
					&:nth-child(7) {display: none;}
					&:nth-child(8) {display: none;}
				}//li
			}//variation-5a

			ul.variation-6{
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: 0; left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						top: ($tile-height + 1); left: 1/3*100%;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(5) {
						left: 2/3*100%; top: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: ($tile-height + 1)*2;
					}//nth
					&:nth-child(7) { display: none; }
					&:nth-child(8) {display: none;}
				}//li
			}//variation-6
			ul.variation-6a{
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;

						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: 0; left: 1/3*100%;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(4) {
						top: ($tile-height + 1)*2; left: 1/3*100%;
					}//nth
					&:nth-child(5) {
						left: 2/3*100%; top: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: ($tile-height + 1)*2;
					}//nth
					&:nth-child(7) { display: none; }
					&:nth-child(8) {display: none;}
				}//li
			}//variation-6a

			ul.variation-6b {
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0; width: 2/3*100%;

						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: ($tile-height + 1)*2; margin-left: 2px; left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						left: 2/3*100%; top: 0;
					}//nth
					&:nth-child(5) {
						left: 2/3*100%; top: ($tile-height + 1);
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: ($tile-height + 1)*2;
					}
					&:nth-child(7) {display: none;}
					&:nth-child(8) {display: none;}
				}//li
			}//variation-6b

			ul.variation-7{
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: 0; left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						top: ($tile-height + 1); left: 1/3*100%;
					}//nth
					&:nth-child(5) {
						left: 1/3*100%; top: ($tile-height + 1)*2;
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: 0;
					}//nth
					&:nth-child(7) {
						left: 2/3*100%; top: ($tile-height + 1);
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(8) {display: none;}
				}//li
			}//variation-7
			ul.variation-7a{
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: 0; left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						top: ($tile-height + 1); left: 1/3*100%;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(5) {
						left: 2/3*100%; top: 0;
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: ($tile-height + 1);
					}//nth
					&:nth-child(7) {
						left: 2/3*100%; top: ($tile-height + 1)*2;
					}
					&:nth-child(8) {display: none;}
				}//li
			}//variation-7a

			ul.variation-8{
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(3) {
						top: 0; left: 1/3*100%;
					}//nth
					&:nth-child(4) {
						top: ($tile-height + 1); left: 1/3*100%;
					}//nth
					&:nth-child(5) {
						left: 1/3*100%; top: ($tile-height + 1)*2;
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: 0;
					}//nth
					&:nth-child(7) {
						left: 2/3*100%; top: ($tile-height + 1);
					}
					&:nth-child(8) {
						left: 2/3*100%; top: ($tile-height + 1)*2;
					}
				}//li
			}//variation-8
			ul.variation-8a{
				li {
					&.tall { a { hgroup { h2 { font-size: 1em; } } } }
					&:nth-child(1) {
						top: 0; left: 0;
					}//nth
					&:nth-child(2) {
						top: ($tile-height + 1); left: 0;
					}//nth
					&:nth-child(3) {
						top: ($tile-height + 1)*2; left: 0;
					}//nth
					&:nth-child(4) {
						top: 0; left: 1/3*100%;
						a { hgroup { h2 { font-size: $tall-tile-font-size; } } }
					}//nth
					&:nth-child(5) {
						left: 1/3*100%; top: ($tile-height + 1)*2;
					}//nth
					&:nth-child(6) {
						left: 2/3*100%; top: 0;
					}//nth
					&:nth-child(7) {
						left: 2/3*100%; top: ($tile-height + 1);
					}
					&:nth-child(8) {
						left: 2/3*100%; top: ($tile-height + 1)*2;
					}
				}//li
			}//variation-8a

			// TABLET QUE NO USO

			*/

		}//end Tablet
	}//desk

	@include break(mobile){
		height: $tile-height-mobile + 14 !important;

		.wrapper {
			position: relative;
			width: 100%;
			height: $tile-height-mobile;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
			overflow-y: hidden;
		}
		ul.featured-posts {
			li {
				width: $tile-width-mobile;
				height: $tile-height-mobile;
				margin: $tile-margin-mobile;
				top: 0;
				left: 0;
				position: absolute;
				background-size: cover !important;
				background-position: center center;
				border-radius: 3px;

				&.tall {
					height: $tile-height-mobile;

					a {
						height: $tile-height-mobile - 39px;

						hgroup {
							h2 {
								font-size: $mobile-tile-font-size;
							}
						}
					}

				}

				a {
					position: relative;
					display: block;
					padding: 15px;
					color: white;
					height: $tile-height-mobile - 39px;

					hgroup {
						width: 90%;
						position: absolute;
						bottom: 16px;
						display: block;

					}
				}

				&:nth-child(1) {
					top: 0;
					left: 0;
				}

				&:nth-child(2) {
					left: $tile-width-mobile + $tile-margin-mobile;
				}

				&:nth-child(3) {
					left: $tile-width-mobile * 2 + $tile-margin-mobile * 2;
				}

				&:nth-child(4) {
					left: $tile-width-mobile * 3 + $tile-margin-mobile * 3;
				}

				&:nth-child(5) {
					left: $tile-width-mobile * 4 + $tile-margin-mobile * 4;
				}

				&:nth-child(6) {
					left: $tile-width-mobile * 5 + $tile-margin-mobile * 5;
				}

				&:nth-child(7) {
					left: $tile-width-mobile * 6 + $tile-margin-mobile * 6;
				}

				&:nth-child(8) {
					left: $tile-width-mobile * 7 + $tile-margin-mobile * 7;
				}
			}
		}
	}
}