.rating-svg {
    display: block;
    height: 13px;
    margin: 8px 0;
    width: 66px;
}

$star: 12px;
$gap: 1px;

.rating-svg use {
  @for $i from 1 through 5 {
    &:nth-child(#{$i + 1}) {
      transform: translate(($i - 1) * ($star + $gap));
    }
  }
}

.rating-svg use.full,
.rating-svg use.half {
  fill: #cc0000;
}

.rating-svg use.empty {
  fill: #999999;
}

body.dark {
  .rating-svg use.full,
  .rating-svg use.half {
    fill: #ffaf5f;
  }

  .rating-svg use.empty {
    fill: #666666;
  }
}

#userRating .rating-svg {
    float: left;
}