.slide-sort-selector {
	border-bottom: 2px solid $blue;
	margin-bottom: 25px;
	
	ul {
		position: relative;
	}
	
	li {
		display: inline-block;
		line-height: 45px;
		
		&.indicator {
			margin: 0 !important;
			display: block;
			position: absolute;
			left: 0;
		  	bottom: 0;
			width: 5px; height: 7px;
			@include triangle(up,$blue,5,7);
		}
	}
	
	.post-type-selector {
		float: left;
			ul {
				li {
					font-family: $f-condensed;
					font-weight: 700;
					font-size: 0.85em;
					text-transform: uppercase;
					margin-right: 30px;
					text-shadow: 0 1px 0 #fff;
					
					a {
						color: $light-grey3;
						
					}
					
					&.active {
						a {
						  	@if $isAMP == 'true' {
							  color: $dark-grey2;
							  text-shadow: none;
							}@else{
							  color: $dark-grey2;
							  text-shadow: none !important;
							}
						}
					}
				}
			}
	}
	

		.layout-selector {
			float: right;
			li {
				font-size: .6em;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: -0.333px;
				
				&.standard,
				&.full {
					//padding-left: 35px;
					margin-right: 20px;
					a {
						display: block;
						position: relative;

						color: $light-grey2;

					}
				}
				&.active {
					a{
						color: #4b4b4b;
					}
				}
				
				&.standard {
					
				}
				
				&.full {
					margin-right: 10px;
				}
				
				a {
					
				}
			}
			@include break(v-mobile){
				display: none !important;
			}
		}
}