.tabbar {
	display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 7px;
    height: 36px;
    line-height: 33px;
    position: relative;
    overflow-y: hidden;
    border-bottom: 5px solid #F2F4F8;

	&.active {
		background-image: linear-gradient(to top, #F2F4F8, #e7e9ee 50%, #e7e9ee);
	}

	a {
		flex: 0 0 auto;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 36px;
	    padding: 0 14px;
	    background-color: #dfe3e8;
	    text-decoration: none;

		&.active {
			background-image: linear-gradient(to top, #F2F4F8, #e7e9ee 50%, #e7e9ee);
		}

		&:hover {
			background-color: #d3dce6;
		}

		&.pricetab {
			background-color: #59a059; 
		
			&:hover {
				background-color: #339933;
			}

			h3 {
				color: #fff;
			}
		}
		
		&.pricehistorytab {
			background-color: #598ca0d4;

			&:hover {
				background-color: #529cb9d4;
			}

			h3 {
				color: #fff;
			}
		}
	}

	h3 {
		font-weight: 550;
		text-transform: uppercase;
		font-size: 13.5px;
		white-space: nowrap;
		color: #1e2933;

		a {
			color: #1e2933;
			
			&:hover {
				color: #1e2933;
			}
		}

		span.number {
			background: #4885DA;
			border-radius: 20px;
			text-align: center;
			line-height: 18px;
			color: #fff;
			display: inline-block;
			width: 17px;
			height: 17px;
			font-size: 0.85em;
			margin-left: 2px;
			font-weight: 500;
		}

		span.number.large {
			line-height: 20px;
			padding: 1px;
			width: 20px;
			height: 20px;
		}


		@if $isDesk == 'true' {
			.svgbars {
				width: 18px;
				height: 18px;
				float: left;
				margin: 7px 7px 0 -6px;
			}
			.svgcert {
			    width: 19px; height: 19px;
			    margin: -1px -4px 0 3px;
			}

		} @else {
			.svgbars {
				width: 18px;
				height: 18px;
			    float: left;
			    margin: 6px 4px 0px -3px;
			}
			.svgcert {
			    width: 18px; height: 18px;
			}
		}
	}

	&.single {
		h3 {
			background-image: linear-gradient(to top, #F2F4F8, #e7e9ee 50%, #e7e9ee);
			padding: 4px 15px 0;
			color: #1e2933;
			text-transform: none;
			font-weight: 400;
			font-size: 15px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		@include break(mobile) {
			a {
				justify-content: left;

				h3 {
					padding: 4px 0 0;
				}
			}
		}
	}
}

.pf-tabs {
	@if $isDesk == 'true' {
		margin: 30px 0 20px 0;
	}
	@else {
		margin: 20px 0 20px 0;
	}
}

.dl-tabs {
	margin: -30px 0 20px 0;

	@include break(mobile) {
		margin: -15px 0 0px -9px;
	}	
}