.tabbar {
	height: 33px;
	line-height: 33px;
	position: relative;

	@if $isAMP == 'true' {
		margin: 0 1% 10px;
	}

	.active {
		bottom: 3px;
		line-height: 33px;
		height: 36px;
		background-image: linear-gradient(to top, #F2F4F8, #e7e9ee 50%, #e7e9ee);
	}
	h3 {
		background-color: #dfe3e8;
		color: #1e2933;
		font-weight: 550;
		margin-right: 3px;
		text-transform: uppercase;
		float: left;
		font-size: 13.5px;
		text-align: center;
		bottom: 3px;
		position: relative;
		height: 33px;
		padding: 0 16px;

		span.number {
			background: #4885DA;
			border-radius: 20px;
			text-align: center;
			line-height: 18px;
			color: #fff;
			display: inline-block;
			width: 17px;
			height: 17px;
			font-size: 0.85em;
			margin-left: 2px;
			font-weight: 500;
		}

		span.number.large {
			line-height: 20px;
			padding: 1px;
			width: 20px;
			height: 20px;
		}

		&.pricetab {
			background-color: #59a059;
			color: white;
		
				&:hover {
					background-color: #339933;
				}
		}
		&.pricehistorytab {
			background-color: #598ca0d4;
			color: white;
		
				&:hover {
					background-color: #529cb9d4;
				}
		}

		@if $isAMP != 'true' {
			&:hover {
				background-color: #d3dce6;
			}

			@include break(v-mobile){
				padding: 0 3.5%;
			}
			@include break(sm-mobile){
				padding: 0 2%;
			}

			@if $isDesk == 'true' {
				.svgbars {
					width: 18px;
					height: 18px;
					float: left;
					margin: 7px 7px 0 -6px;
				}
				.svgcert {
				    width: 19px; height: 19px;
				    float: right;
				    margin: 7px -6px 0 7px;
				}

			} @else {
				.svgbars {
					width: 18px;
					height: 18px;
				    float: left;
				    margin: 6px 4px 0px -3px;
				}
				.svgcert {
				    width: 18px; height: 18px;
				    float: right;
				    margin: 7px -4px 0 5px;
				}
			}

			a {
				color: #1e2933;
				
				&:hover {
					color: #1e2933;
				}
			}
		}
	}

	&.single {
		h3 {
			text-transform: none;
			font-weight: 400;
			font-size: 15px;
			padding-top: 4px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-width: 85%;
		}
	}

	&:after {
		height: 28px;
		width: 100%;
		position: absolute;
		bottom: -28px;
		left: 0;
		display: block;
		content: '';
		background-image: linear-gradient(to top, #fff, #e7e9ee);
		background-image: none;
		bottom: -5px;
		height: 5px;
		background-color: #F2F4F8;
	}
}

.pf-tabs {
	@if $isDesk == 'true' {
		margin: 30px 0 20px 0;
	}
	@else {
		margin: 20px 0 20px 0;

		.tabbar h3 {
			padding: 0 10px 0;
			font-size: 13px;
		}
	}

}

.dl-tabs {
	
	@if $isAMP == 'true' {
		margin: 3px 8px 0px;

		&.left {
			margin:	0 0 0 -5px;
		}
	}
	@else {

		margin: -30px 0 20px 0;

		@include break(mobile){
			margin: -15px 0 0px -5px;
		}
	}
}