body.dark {

	#trivias-list {
		ul {
			li {
				border-bottom: none;

				&:nth-child(even) {
					background: #535e69;
				}

				h3 { a {
					color: #fff;

					&:hover {
					    color: #ffaf5f;
					}
				} }
			}
		}
	}

	&.trivia {
		#content {
			#content-header {
				background-color: #242931;
				.title-group {
					h1 {
						&.yellow {
							color: #fff;
						}
					}
				}
			}
			.articleBody h2 {
			    color: $dark-link;
			}
		}
		.articleBody {
			#trivia-options {
				.option_box {
					.option {
						background-color: #484e53;
						&:hover {
							background-color: #93683c;
						}
					}
				}
			}
			#explanation {

				.content {
					a {
						color: $dark-link;
						&:hover { color: $dark-link-hov; }
					}
				}

				&.rotate {
					.choosefirst {
						color: #d5ac84;
					}
				}
			}
		}
	}

}