body.dark {

	#product_info .product-details a,
	#product_info .reviewed_by a,
	#product_info .score_users .breakdown a,
	#product_info .product-desc .last-updated a,
	.expert-reviews-and-ratings .comment a,
	#product_info .score .breakdown a,
	.newverTitle a,
	.product_description a,
	#product_info .score.bestof a .breakdown h3
	{
		color: $dark-link;
		&:hover { color: $dark-link-hov; }
	}

	&.products {
		.post-list-product {
			.ProdListInfo {
				.ProdListCat {
					a {
						background-color: #415f7d;
						&:hover {
							background-color: #535e69;
						}
					}
				}
				h4 {
					a {
						color: #c4c4c4;
						&:hover {
							color: $dark-link-hov-orange;
						}
					}
				}
			}
			li {
				border-bottom: 1px solid #535E69;
				border-top: 0px solid #535E69;
				padding: 4px 2%;
			}
			.prod-meta {
				.price {
					a {
						color: #91a5be;
						&:hover {
							color: #a3b6ce;
						}
					}
				}
			}
			.product-img {
				border-radius: 4px;
			}
		}
	}
	&.products-cat {
		.filter_bar {
			background: #3f4b56;
			border: 1px solid #212a33;

			.filter {
				border-top: 2px solid #242931;
				background: #404b56;
			}

		}
	}

	#product_info {
		background: transparent;
		img {
			border-radius: 4px;
		}
		.score {
			&.bestof {
				a {
					.awardtext {
						text-shadow: none;
						color: white;
						position: relative;

						&:hover {
							color: white;
						}
					}

					.breakdown {
						color: #fff;
					}
				}
			}
		}
		figure {
			border-radius: 4px;
			background: transparent;
			.flex-control-paging {
				li {
					a {
						border: 2px solid transparent;
					}
				}
			}
		}
		.newverPrice {
			a {
				color: #ffd5ac;
				font-weight: 500;
				&:hover {
					color: #fbac5f;
				}
			}
		}
		.product-desc {
			nav {
				ul {
					li {
						&:first-child {
							border-right: 1px solid #535E69;
						}
					}
				}
			}
			.price-widget {
				.price-int {
					background-color: #394048;
					color: #b7b7b7;
					a {
						color: #9dc19d;
						&:hover {
							color: #fff;
						}
					}
				}
			}
			.last-updated {
				color: #999;
			}
		}
		.score_users {
			border-top: 2px solid #535e69;
		}
	}

	.expert-reviews-and-ratings .comment:nth-child(odd),
	&.interior.products .post-list-product li:nth-child(even) {
		background: transparent;
	}
	#product_info .product-desc nav ul li a,
	#product_info .product-desc nav ul li a span.red,
	#product_info .product-desc nav ul li a span.blue,
	#product_info .reviewed_by {
		color: #aeaeae;
	}
	.also-looked-at ul.teaser-list li {
		background: #404b5a;
	}
	.also-looked-at>h3, .expert-reviews-and-ratings>h3 {
		border-bottom: 2px solid #535E69;
	}
	.also-looked-at>h3:after, .expert-reviews-and-ratings>h3:after {
		border-top: 6px solid #535E69;
	}

	.also-looked-at>h3, .expert-reviews-and-ratings>h3,
	#product_info .newverCheck a {
		color: #f5f5f5;
	}

	#product_info .score.bestof {
		border-bottom: 4px solid #535E69;
	}

	#product_info .newver {
		border-bottom: 4px solid #535E69;

		@include break(v-mobile) {
			border: 7px solid #535E69;
		}
	}

	#product_info .product-desc .price-widget .price-count, #product_info .product-desc .price-widget #artificialBorder {
		background-color: #339933a3;
	}
	.expert-reviews-and-ratings {
		.comment {
			border-bottom: 1px solid #535E69 !important;
		}
	}
	#product_info .product_description, .section-byline {
		color: #eee;
	}

	&.interior.product #content .articleBody ul.pros li:before, &.interior.product #content .articleBody ul.cons li:before {
		border-radius: 10px;
	}

	&.interior.products .post-list-product .prod-score,
	#product_info .score .number, #product_info .score_users .number,
	.expert-reviews-and-ratings .comment .rating {
		opacity: 0.86;
	}

	&.interior.products-cat .filter_bar .sorter,
	&.interior.products-cat .filter_bar .sorter a,
	.expert-reviews-and-ratings .comment cite time {
		color: #888;
	}

	.best-logo img, #product_info .score.bestof a .awardlogo img,
	.best-logo2 img, #product_info .score.bestof a .awardlogo2 img {
		filter: invert(1) hue-rotate(180deg) opacity(0.7);
		background: transparent !important; 
	}

	#LookUpTop {
		input[type=text], input[type=password] {
			background: #3f4850 !important;
			color: #fff !important;
		}
	}

}