/* PF widgets para noticias y reviews */

.pf_score {
	color: #fff;
	font-weight: 500;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: #075BC0;
	text-align: center;
	float: left;
}

.pf_award {
	background-color: #ff7f00;
}

.pf_excellent {
	background-color: #28a035;
}

.pf_good {
	background-color: #075bc0;
}

.pf_average {
	background-color: #6f22a0;
}

.pf_bad {
	background-color: #cc0000;
}

.pf_none {
	background-color: #999999;
}


.pf_widget_small a, .pf_widget_normal a {
	text-decoration: none !important;
}

.pf_widget_small {
	display: inline-block;
	zoom: 1;
	*display: inline;
	.pf_score {
		float: none;
		padding: 0px 5px;
		display: inline-block;
		zoom: 1;
		font-size: 16px;
		line-height: 26px;
		border-radius: 2px;
	}
}

.pf_widget_normal {
	font-size: 26px;
	display: block;
	overflow: auto;
	.pf_score {
		height: 50px;
		width: 65px;
		line-height: 37px;
		position: relative;
		line-height: 37px;
	}
	.pf_reviews {
		font-size: 9px;
		position: absolute;
		left: 0;
		width: 65px;
		bottom: 3px;
		line-height: 15px;
		display: block;
		text-transform: lowercase;
	}
}