body.interior {
	&.features, &.reviews, &.reviews-cat, &.features-cat {

		@if $isAMP != 'true' {
			.col-2-3{
				@include col-last(2,3,0);
				width: 80%;
				
				@include break(mobile){
					width: 100%;
					padding: 0;

					.wrapperMobileOnly {
						width: auto;
						margin-top: 15px;
					}
				}
			}
		}
		.category {
			ul {
				@if $isAMP != 'true' {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				//Both: AMP and Normal
				li {
					min-height: 130px;
					border-bottom: 1px solid #E5E5E5;
					position: relative;

					h3 {

						a {
							color: #333;
							font-size: 1.2em;
							font-weight: 500;
							line-height: 1.4;

							&:hover {
								color: $red;
							}
						}

						@if $isAMP == 'true' {
							font-size: 0.8em;
							padding-top: 5px;
						}
						@else {
							@include break(v-mobile){
								font-size: 0.8em;
								padding-top: 5px;
							}
						}
					}
					p {
						font-weight: 400;
						font-size: .6em;

						@if $isAMP == 'true' {
							padding: 5px 0;

							time {
								display: block;
							}

						} @else {
							padding: 5px 0 !important;
							color: #666 !important;

							@include break(v-mobile){
								time {
									display: block;
								}
							}
						}
					}
					@if $isAMP != 'true' {
						.desc {
							font-size: .75em;
							font-weight: 400;
							padding: 7px 0 5px;
							color: #555;
							line-height: 1.4;
								
							@include break(mobile){
								display: none;
							}
						}
						.more_info {
							float: left;
							left: 155px;
							bottom: 32px;
							position: absolute;

							@include break(mobile){
								display: none;
							}
							@include break(v-mobile){
								right: 2%;
								top: 19px;
							}
							
							.excellent {
								background-color: rgba(0,191,23,1);
							}
							.good {
								background-color: rgba(7,91,192,1);
							}
							.average {
								background-color: rgba(112,33,161,1);
							}
							.bad {
								background-color: rgba(204,0,0,1);
							}
							.none {
								background-color: rgba(153,153,153,1);
							}
							.score {
								font-size: 1.25em;
								color: #fff;
								text-align: center;
								font-weight: 500;
								height: 40px;
								line-height: 40px;
								width: 45px;
								@include border-radius(3px);
							}
						}
					}
				}
				@if $isAMP != 'true' {
					.alternate {
						background-color: white;
					}
				}
				.info {
					position: absolute;
					opacity: 1;
					margin-top: 5px;

					@if $isAMP == 'true' {
						left: 3%;

					} @else {
						left: 15px;

						@include break(mobile){
							left: 0;
						}
					}

				}
				.img{
					line-height: 120px;
					text-align: center;
					overflow: hidden;
					width: 200px;
					height: 150px;

					@include break(v-mobile){
						width: 165px;
					}
				}
			}
		}
		#review {
			ul {
				li {
					@if $isAMP == 'true' {
						//Default for AMP
						padding: 12px 8px 17px 180px;
					
					} @else {
						padding: 25px 30px 25px 230px; 

						@include break(v-mobile) {
							padding: 12px 8px 17px 180px;
						}
					}

					&:nth-child(even) {
						background: #f5f5f5;
					}
				}
			}
		}
		#features {
			ul {
				li {
					@if $isAMP == 'true' {
						//Default for AMP
						padding: 12px 8px 17px 180px;
					
					} @else {
						padding: 25px 30px 25px 230px; 

						@include break(v-mobile) {
							padding: 12px 8px 17px 180px;
						}
					}

					&:nth-child(even) {
						background: #f5f5f5;
					}
				}
			}
		}
		.sidebar{
			@include col(1,3,0);
			text-transform: uppercase;
			font-family: $f-condensed;
			font-size: 0.7em;
			width: 16%;

			@include break(mobile){
				width: 100%;
				padding: 10px 3% 0px 3%;

				@if $isAMP != 'true' {
					display: block !important;
				}
			}
		}
	}

	&.reviews-cat, &.features-cat {

		@if $isAMP != 'true' {
			.col-2-3 {
				
				@include break(mobile){

					.wrapperMobileOnly {
						padding: 0 3%;
					}
				}
			}
		}
	}


	&.article {
		#content {

			.index-mobile {
				.article-index {
					display: block;
					
					@if $isAMP == 'true' {
						margin: 20px 0 15px;
						width: 100%;

					} @else {
						margin: 30px 0 0;
						width: 94%;
						border: none;

						@include break(mobile){
							margin: 20px 0 15px;
							width: 100%;
						}
					}

					strong {
						line-height: 25px;
						padding: 5px 0;
						background: #ff7f00;
						font-size: 0.9em;
						color: white;
					}

					section {
						width: 100%;
						position: relative;
						left: 0;
						z-index: 0;
						display: block;
					}
				}
			}

			/*
			@if $isAMP == 'true' {
				.articleBody {
					margin: 0 2%;
				}
			}
			*/

			@if $isAMP != 'true' {
				position: relative;

				.wrapper {
					overflow: visible;
					padding: 15px 0 40px;

					@include break(mobile) {
						padding: 25px 0 5px;
					}
				}

				.social-column {
					position: absolute;
					right: 0;
					top: 50px;
					z-index: 1;

					@include break(mobile){
						position: relative;
						top: 0;
						margin-bottom: 0;				
					}
				}
			
				.articleBody {
					width: 100%;
					max-width: 700px;
					margin: 0 auto;
					
					@include break(v-tablet){
						max-width: 700px;
						margin: 0 auto;
						width: 90%
					}
					@include break(mobile){
						width: 100%
					}

					blockquote {
						margin: 5px 20px 25px 0px;
						padding: 20px 10px 0px 20px;
						border-left: 3px solid #ccc;
					}

					.twitter-tweet, .twitter-tweet-rendered {
						margin: 7px auto !important;
						margin-bottom: 25px !important;
					}

					iframe {
						&.twitter-tweet, &.instagram-media {
							margin: 7px auto !important;
							margin-bottom: 25px !important;
						}
					}

					.blue-quote {
						color: #105ab2;
						font-size: 1.7em;
						font-weight: 400;
						text-align: center;
						margin: 20px 10px 40px;
					}

					.slide-image { padding: 0 0 25px; }	

					p {
						&.small, &.byline, &.grey {
							font-size: 0.85em; 
						}
					}	

				}
			}
		}

		.article-index {
			width: 60px;
			border-top: 5px solid $orange;
			background: white;
			margin-bottom: 50px;
			position: relative;

			@include break(mobile){
				width: 100%;
				margin-bottom: 20px;
				border-top: none;

				span.arrow {
					width: 0;
					height: 0;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 6px solid #ffffff;
					float: left;
					margin: 15px 0 0 13px;
					opacity: 1;
				}

				.sharethis {
					float: right;
					width: 20px;
					height: 20px;
					margin: -27px 18px 0 0;
				}
			}
			
			strong {
				display: block;
				line-height: 35px;
				text-align: center;
				font-size: .7em;
				cursor: pointer;
				font-weight: 500;

				@include break(mobile) {
				    text-align: left;
				    font-size: .8em;
				    padding: 0 0 0 13px;
					border-left: 35px solid #ff7f00;
					border-right: 5px solid #ff7f00;
				}
			}
			
			section {
				font-size: .7em;

				@if $isAMP != 'true' {
					display: none;
					width: 300px;
					position: absolute;
					left: -300px; top: -5px;
					background: white;
					border-top: 5px solid $orange;
					z-index: 10;
				}

				@include break(mobile) {
					width: 100%;
					position: relative;
					left: 0;
					top: 0;
					background: #fff;
					border-top: none; 
				}
				
				.pad {
					padding: 10px 20px 20px 20px;

					@include break(mobile) {
						padding: 5px 10px 10px 12px;
						border-bottom: 5px solid #eee;
					}
				}

				.dropcomments {
					margin: 5px 0 5px 31px;
					font-weight: 500;

					@include break(mobile) {
						margin: 5px 0 5px 36px;
					}
				}
				
				h3 {
					font-size: 1.5em;
					line-height: 180%;
					font-weight: 400;

					@include break(mobile) {
						display: none;
					}
				}
				
				ol {
					margin: 10px 10px 0 12%;
					line-height: 200%;

					li {
						list-style-type: decimal-leading-zero;
						font-family: $f-paragraph;
						font-weight: 400;
						font-size: 1.1em;
						line-height: 1.6;
						padding-bottom: 5px;

						@include break(mobile) {
							padding-bottom: 8px
						}

						@if $isAMP != 'true' {
							a {
								&:hover {
									color: $red;
								}
							}
						}
					}
				}
			}
			
			@if $isDesk == 'true' {
			@if $isAMP != 'true' {
				&:hover {
					strong {
						color: white;
						background: $orange;
						transition: background 0.1s;
					}
					section {
						display: block;
					}
				}
			}}//desk
		}


		// PAGE NAV
		nav.page-nav {
			float:right;
			padding-bottom: 10px;
			text-align: right;

			@if $isAMP == 'true' {
				width: 94%;
				margin: 0;
			}
			@else {
				margin: 20px 0 0 0 !important;
			}

			a {
				font-weight: 400;
				font-size: 1.8em;
				span {
					display: block;
					color: #333;
					font-weight: 500;
					position: relative;
					text-transform: none;
					padding-right: 20px;
					font-size: 0.75em;

					&:after {
						content:"";
						display: block;
						position: absolute;
						right: 0; top: 50%;
						margin-top: -5px;
						width: 10px; height: 7px;
						@include triangle(right,black,8,10);
					}

				}
				strong {
					display: block;
					color: $blue;
					font-weight: 400;
					font-size: 0.85em;
				}
			}

			@if $isDesk == 'true' {
			@if $isAMP != 'true' {
				a:hover {
					span {
						&:after {
							content:"";
							display: block;
							position: absolute;
							right: 0; top: 50%;
							margin-top: -5px;
							width: 10px; height: 7px;
							@include triangle(right,$orange,8,10);
						}
					}
				}
			}
			}//desk
		}

		@if $isAMP != 'true' {
			#content-header {
				&.featured-image {
					picture img {
						width: 100%;
						object-fit: cover;
						height: 655px;
					}

					@include break(mobile){
						picture img {
							height: 290px;
						}
					}

					@include break(v-mobile){
						picture img {
							height: 385px;
						}
					}

					.container-wrapper {
						position: absolute;
						width: 100%;
						top: 0;
					}

					/*
					.wrapper {
						padding: 0;
						overflow: auto;
						@include break(mobile){
							width: 100%;
						}
					}
					.title-group {
						h1.large {
							font-weight: 500;
							padding: 15px 0 8px;

							@include break(mobile){
								font-size: 1.3em;
								padding-top: 0px;
							}
						}

						h2 {
							color: #eee;
							font-size: 1.5em;
							font-weight: 400;
							padding: 0px 0px 5px 3px;

							@include break(mobile){
								font-size: .85em;
								padding: 0px 0px 5px 0;
								margin-top: -3px;
							}
						}
						
						em {
							font-size: 0.75em;
							color: #eee;

							@include break(mobile){
								font-size: .65em;
							}

							time {
								a {
									color: #eee;
								}
							}
						}
					}
					*/

					&.second-page {
						/*min-height: 400px;
						max-height: 400px;

						@include break(mobile){
							min-height: 140px;
							max-height: 140px;
						}
						@include break(v-mobile){
							min-height: 220px;
							max-height: 220px;
						}

						.wrapper {
							min-height: 400px;
							max-height: 400px;

							@include break(mobile){
								min-height: 140px;
								max-height: 140px;
							}
							@include break(v-mobile){
								min-height: 220px;
								max-height: 220px;
							}
						}*/

						/*
						.title-group {
							bottom: 55px;

							@include break(mobile){
								bottom: 15px;
							}

							h1.large {
								font-size: 2.4em;

								@include break(mobile){
									font-size: 1.3em;
								}

								&.medium {
									font-size: 2.2em;

									@include break(mobile){
										font-size: 1.2em;
									}
								}

								&.small {
									font-size: 2em;
									
									@include break(mobile){
										font-size: 1.15em;
									}
								}
							}

							h4 {
								color: #eee;
								font-size: .75em;
								font-weight: 400;
								padding: 5px 0px 5px 5px;
								text-shadow: 1px 1px 5px black;
							}

							em {
								font-size: 0.7em;

								@include break(mobile){
									display: none;
								}
							}
						}
						*/

						//.rating { display: none; }
					}

					&.index-page {
						min-height: 250px;
						max-height: 250px;

						@include break(mobile){
							min-height: 140px;
							max-height: 140px;
						}
						@include break(v-mobile){
							min-height: 200px;
							max-height: 200px;
						}
					}

					/*
					&.best-of {
						min-height: 55vh;
						max-height: 400px;

						.wrapper {
							min-height: 55vh;
						}

						.title-group {
							bottom: 75px;
							@include break(mobile){
								bottom: 25px;
							}
						}
						.rating { display: none; }
					}
					*/

				}
			}

			/*#content-header.featured-image.second-page {
				&:before {
					top: 0; right: 0; bottom: 0; left: 0;
					
					@include gradient-trans-percent($start_color:#1E2933,$start_cent:35%,$start_alpha:0.2,$end_color:#1E2933,$end_cent:95%,$end_alpha:1,$degree:200deg);
				}
			}*/

			#content-header.featured-image.index-page {
				&:before {
					top: 0; right: 0; bottom: 0; left: 0;
					@include gradient-trans-percent($start_color:#1E2933,$start_cent:25%,$start_alpha:0,$end_color:#1E2933,$end_cent:100%,$end_alpha:0.65,$degree:180deg);
				}
			}

			.col-2-3-last{
				float: left !important;
				width: 65%;
				padding-bottom: 20px;

				@include break(tablet) {
					width: 64%;
				}
				@include break(v-tablet) {
					width: 100%;
				}
			}

			&.about {
				.col-2-3 {
					width: 100%;
					margin-right: 0;
				}

				#content {
					.wrapper {

						@include break(mobile){
							padding-top: 0;
						}

					}

					article {
						width: 94%;
						font-size: 0.9em;

						@include break(mobile){
							font-size: 0.8em;
						}

					}

					h1 {
						font-weight: 500;
						font-size: 1.8em;
						padding: 25px 0 20px;

						@include break(mobile){
							padding-top: 10px;
						}

					}
					h2 {
						font-size: 1.4em;
						font-weight: 500;
						padding: 20px 0 15px;
					}

					.index-mobile {
						float: right;
						width: 200px;

						.article-index {
							display: block;
							margin: 0 0 25% 25%;
							width: 100%;

							.pad ul {
								font-size: 1.2em;
								margin: 4% 0 0 10%;
								line-height: 1.8;
							}
						}

						b, strong {
							font-weight: 500;
						}
						
						@include break(mobile){
							display: none;
						}
					}
				}
			}
		}
	}
}


@if $isAMP != 'true' {

	.social-widget {
		width: 60px;
		background: white;
		border-bottom: 5px solid $orange;

		@include break(mobile){
			width: 98%;
			height: 35px;
			margin-bottom: 25px;
			border-bottom: 0px solid $orange;

			&.zero {
				border-right: 7px solid $orange;

				li {
					&.social {
						&.facebook {
							margin-left: 12.5%;
						}
						&.twitter {
							margin-left: 12.5%+17*1;
						}
						&.whatsapp {
							margin-left: 12.5%+17*2; 
						}
						&.reddit {
							margin-left: 12.5%+17*3;
						}
						/*
						&.rss {
							margin-left: 12.5%+17*3;
						}
						*/
						&.comments {
							margin-left: 12.5%+17*4;
						}
					}
				}
			}

			&.featfirst {
				border-right: 5px solid #ff7f00;
			}
		}

		li {	
			&.social-count {
				background-color: $orange;
				color: white;
				text-align: center;
				font-size: 0.7em;
				line-height: 25px;
				font-weight: 500;

				@include break(mobile) {
					display: inline-block;
					height: inherit;
					width: 25%;
					margin-bottom: 0px;
					font-size: 1em;
					line-height: 33px;
				}

				&.zero {
					border-top: 5px solid $orange;
					@include break(mobile) {
						border-top: none;
						display: block;
						width: 7px;
					}
				}
			}
			
			&.social {
			
				background-image: url('https://#{$staticServer}.techspot.com/images/btnShare.svg?v=#{$social-icons-version}');
				background-repeat: no-repeat;
				background-color: white;
				line-height: 16px;
				position: relative;

				.SocialHover{
					display: none;

					.WidgetArea {
						padding: 7px 0 0 7px;
						z-index: 999;
					}
				}

				&.facebook {
					background-position: left 0;

					@if $isDesk == 'true' {
						&:hover{
							background-color: #3b5998;
							background-position: right 0;
						}
					}
				}
				
				&.twitter {
					background-position: left -35px;

					@if $isDesk == 'true' {
						&:hover{
							background-color: #00aced;
							background-position: right -35px;
						}
					}
				}


				&.reddit {
					background-position: left -175px;

					@if $isDesk == 'true' {
						&:hover{
							background-color: #E18C4B;
							background-position: right -175px;
						}
					}
				}
				
				&.rss {
					background-position: left -105px;

					@if $isDesk == 'true' {
						&:hover {
							background-color: #f07422;
							background-position: right -105px;
						}
					}
				}

				&.whatsapp {
					background-position: left -175px;

					@if $isDesk == 'true' {
						&:hover {
							background-color: #f07422;
							background-position: right -175px;
						}
					}
				}
				
				&.comments {
					background-position: left -140px;

					@if $isDesk == 'true' {
						&:hover {
							background-color: #4b75b7;
							background-position: right -140px;
						}
					}
				}
				
				a {
					display: block;
					text-indent: -9999px;
					line-height: 35px;
				}

				@if $isDesk == 'true' {
				&:hover {
					.SocialHover {
						width: 100px;
						height: 100%;
						position: absolute;
						z-index: 99999999;
						background-color: white;
						right: 60px;
						top: 0;
						display: block;

						/*
						@include break(mobile){
							right: 0 !important;
							top: auto !important;
						}
						*/
					}
				}
				}//desk

				@include break(mobile){
					background-image: url('https://#{$staticServer}.techspot.com/images/social-widget-bg-91.svg?v=#{$social-icons-version}');
					margin-left: 30%;
					margin-top: -30px;
					width: 32px;

					/*
					&:hover {
						background: none;
						border-radius: 40px;
						height: 25px;
						width: 26px !important;
					}
					*/

					&.facebook {
						width: 32px;
						margin-left: 30%;
						background-position: 0px 1px;
					}

					&.twitter {
						width: 32px;
						margin-left: 30%+13.5*1;
						background-position: -32px 1px;
					}

					&.reddit {
						width: 32px;
						margin-left: 30%+13.5*3;
						background-position: -189px 1px;
					}
					
					/*
					&.rss {
						width: 30px;
						margin-left: 30%+13.5*3;
						background-position: -97px 1px;
					}
					*/

					&.whatsapp {
						width: 30px;
						margin-left: 30%+13.5*2;
						background-position: -158px 1px;
					}
					
					&.comments {
						width: 32px;
						margin-left: 30%+13.5*4;
						background-position: -125px 2px;
					}
					
					a {
						display: block;
						text-indent: -9999px;
						line-height: 30px;
					}
				}
			}
		} 
	}
}