.features, .reviews, .trivias, .slide-article {
	.featured-posts-title {
		width: $desk;
		margin: 0 auto;

		@include break(tablet){
			width: 94%;
			padding: 0px 3%;
		}

		@include break(mobile){
			margin-top: 25px;
		}

		h1 {
			font-size: 1.4em;
			font-weight: 500;
			color: white;
			line-height: 80px;

			@include break(mobile){
				font-size: 1.1em;
				line-height: 60px;
				width: 320px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		h4 {
		    font-weight: 400;
		    color: #eee;
		    font-size: 0.75em;
		    line-height: 1.5;
		    letter-spacing: -.333px;
		    margin: -15px 0 15px 0;

			@include break(mobile){
				line-height: 1.3;
				margin: -5px 0 16px 0;
			}
		}
	}
}


@if $isAMP != 'true' {

	@if $isDesk == 'true' {
		.reviews.big-grid,
		.features.big-grid {
			.grid-posts {
				.masthead {
					min-height: ($tile-height-sec * 2) + 105px;

					@include break(mobile){
						min-height: 270px;
					}
				}
			}
		}
	}
	@else {

		.reviews.big-grid,
		.features.big-grid {
			.grid-posts {
				.masthead {
					min-height: 270px;
				}
			}
		}
	}

	.reviews-cat .grid-posts.catDef, .features-cat .grid-posts.catDef {
		.masthead {
			min-height: 365px;
			
			@include break(mobile){
				min-height: 270px;

				.wrapper {
					position: relative;
					width: 100%;
					height: 270px;
				}
			}
			
			li {
				height: 266px !important;

				@include break(mobile){
					height: 270px !important;
				}

				a {
					height: 226px !important;
					@include break(mobile){
						height: 240px !important;
					}
				}

				&:nth-child(3) {
					left: calc(#{$tile-width-percent*2} + #{$tile-padding-pct*2}) !important;
					top: 0 !important;

				}
				&:nth-child(4) {
						display: none;
				}
					
				&:nth-child(5) {
						display: none;
				}
					
				&:nth-child(6) {
						display: none;
				}

				@include break(mobile){
					&:nth-child(3) {
						left: 160% !important;
						top: 0 !important;
					}
				}

			}
		}
	}
}