.features, .reviews, .trivias, .slide-article {
	.featured-posts-title {
		width: $desk;
		margin: 0 auto;

		@include break(tablet){
			width: 94%;
			padding: 0px 3%;
		}

		@include break(mobile){
			margin-top: 25px;
		}

		h1 {
			font-size: 1.4em;
			font-weight: 500;
			color: white;
			line-height: 80px;

			@include break(mobile){
				font-size: 1.1em;
				line-height: 60px;
				width: 320px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		h4 {
		    font-weight: 400;
		    color: #eee;
		    font-size: 0.75em;
		    line-height: 1.5;
		    letter-spacing: -.333px;
		    margin: -15px 0 15px 0;

			@include break(mobile){
				line-height: 1.3;
				margin: -5px 0 16px 0;
			}
		}
	}
}


@if $isAMP != 'true' {
	@if $isDesk == 'true' {
		.reviews, .features
		{
			.grid-posts {
				.masthead {
					@include break(mobile){
						min-height: 270px;
					}

					&.SmallHead {
						min-height: ($tile-height-sec * 2) + 115px;
					}

					&.OneRow {
						min-height: ($tile-height-sec) + 85px;
					}
				}
			}
		}
	}
	@else {
		.masthead {
			height: auto !important;
		}

		.reviews, .features
		{
			.grid-posts {
				.masthead {
					min-height: 270px;
				}
			}
		}
	}
}