body.dark {

	// Indexes
	&.interior .categoryindex ul li {
		background: $dark-back; // #2a2f36
		border-bottom: 1px solid #535e69;
	}
	&.interior .categoryindex ul li:nth-child(odd) {
		background: #37414b;
	}
	&.interior .categoryindex ul li h3 a {
	    color: #e1e1e1;

		&:hover {
			color: $dark-link-hov-orange;
		}
	}
	&.interior .categoryindex ul li .desc {
	    color: #c5c5c5;
	}
	&.interior .categoryindex ul li .fbyline {
	    color: #bbb;
	    a {
			color: $dark-link;
			&:hover { color: $dark-link-hov; }
		}
	}

	
	.comment-count-block {
		filter: grayscale(50%);
		&:hover {
			filter: grayscale(30%);
		}
		a {
			span {
				&.comment-count {
					color: $dark-link-hov-orange;
				}
				&.interactions-count {
					color: #ccc;
				}
			}
		}
	}

	&.article {
		.article-index {
			background: rgb(80 80 80 / 20%);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);

			.sharethis {
				filter: invert(1);
			}
			section {
				background: #000;
			}
		}
	}

	.articleBody {
		.bestof_product {
			.numbers {
				background-color: transparent;
				border: none;
				a {
					&.withTooltip {
						color: #fff;
					}
				}
			}
		}
		ul {
			li {
				color: #ddd;
			}
		}
	}

	.bestof_product {
		h2 {
			a {
				color: #94b6df !important;
				&:hover {
					color: $dark-link-hov-orange !important;
				}
			}
		}
	}
	.best-categories {
		li {
			opacity: 0.9;
		}
	}

	.best-category {
		li {
			a {
				&.category-name {
					&:hover {
						border: 2px solid #3170bb !important;
					}
				}
			}
		}
	}

	.review_box {
		background: transparent;
		border: none;
		&.outstanding {
			border-top: 80px solid #212a33;
		}
		.others_said {
			a {
				color: #888 !important;
			}
		}
	}

	.article-index {
	    background: rgb(80 80 80 / 20%);
	    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	    backdrop-filter: blur(5px);

		section {
			background: #535e69;
			ol {
				color: #99adc4;
			}
			a {
				&:hover {
					color: $dark-link-hov-orange !important;
				}
			}
		}
	}
	.article-index section a, .article-index section h3 {
		color: #fff;
	}

}