@import
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";

//Clase principal del slide
body.interior.slide-article {
	background: #1e2933;

	#GlobalWrapper {
		background: #1e2933;	
	}
	#content{
		background: #1e2933;
		.wrapper{
			padding: 20px 0 20px;
			.comment-count-block, .page-nav {
				display: none;
			}
		}
	}
	//#comments{background: #fff;}

	//Slide
	.slide-image{padding: 0 0 25px;}

	.owl-controls{
		width: 58%;
		@include break(mobile) {
			width: 100%;
			display: none;
		}
	}

	#grid-below{
		background: #ccc;
		padding: 25px 0 50px;

		&.hasComments {
			padding: 25px 0 25px;
		}

		@include break(mobile){
			padding: 1px 0 !important;
		}
	}
	
	#masthead{
		min-height: 336px;
		
		.wrapper{
			padding: 0;
			ul li { border-color: #ffffff !important; }
		}
		
		.featured-posts-title {
			h1 { color: #1e2833; }
		}

		@include break(mobile) {
			width: 100%;
			overflow: auto;
			min-height: inherit;

			.wrapper{
				width: 100%;
			}
		}
	}

	//Owl slide
	.addRelativeM{ position: relative; }
	.slideArticle{ position: relative; }

	.title-group {

		.slideShowTitle{
			font-weight: 500; font-size: 2.4em; letter-spacing: -0.333px;
			margin: 15px 0 0; position: relative; padding-right: 185px;
			color: #fff;

			@include break(mobile) {
				margin: 10px 0 0;
				padding-right: 0;
				font-size: 1.75em;
			}
			@include break(v-mobile) {
				font-size: 1.5em;
			}
		}

		em {
			font-style: normal;
			font-size: .7em;
			line-height: 30px;
			color: #ccc;

			@include break(v-mobile) {
				font-size: .65em;
			}

			a {
				color: #ccc;
				font-weight: 500;
				padding-bottom: 3px;	

				&:hover {
					border-bottom: 1px solid #ff7f00;
				}
			}
		}
	}

	.owlNavArea{
		display: block; position: absolute; top: 0; right: 0; margin-top: -50px; margin-right: 2%;
		.btnNav{
			display: block; float: left; width: auto; height: auto;
			@include mxAnim; cursor: pointer;
			padding: 5px 10px; height: 15px;
			background: #105ab2; /* Old browsers */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#105ab2), color-stop(100%,#154c8f)); /* Chrome,Safari4+ */
			background: linear-gradient(to bottom, #105ab2 0%,#154c8f 100%); /* W3C */
			
			img{width: auto; height: 100%; vertical-align: top; background: none!important;}
			
			&.alL{
				img{-webkit-transform: rotate(180deg); transform: rotate(180deg);}
			}//alL
			&.alO{margin-right: 10px;}
			
			&:hover{
				background: #154c8f; /* Old browsers */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154c8f), color-stop(100%,#154c8f)); /* Chrome,Safari4+ */
				background: linear-gradient(to bottom, #154c8f 0%,#154c8f 100%); /* W3C */
			}//hover
			
			&:active{
				background: #154c8f; /* Old browsers */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154c8f), color-stop(100%,#105ab2)); /* Chrome,Safari4+ */
				background: linear-gradient(to bottom, #154c8f 0%,#105ab2 100%); /* W3C */
			}
			
		}//btnNav
		.owlCount{
			display: block; float: left; height: 25px; line-height: 25px;
			font-weight: 500; font-size: 14px; text-align: center; width: 67px; color: #fff;
		}//owlCount
		
		@include break(mobile) {
			position: relative; margin-left: auto; margin-right: auto; margin-top: 0;
			display: inline-block;
			padding: 0 0 20px;
		}
		
	}//owlNavArea

	.col-2-3-last.special .articleBody{
		&.slideArticle{
			width: 100% !important;
			margin-top: 25px;
			
			@include break(mobile) {
				margin-top: 15px;
			}

		}
	}

	.slideshow{
		margin-left: 0%!important; opacity: 0;
		
		.owl-item > li{
			list-style: none!important;
			font-size: 0.85em; font-weight: 300;
			
			.slide-image{
				display: block; float: left; width: 58%;
				margin: 0 3% 0 0; padding: 0; position: relative;

				@include break(mobile) {
					margin: 0 0 20px 0;
				}

				img{width: 100%; height: auto;}
				
				&:after{
					-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
					box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
					position: absolute; top: 0; left: 0;
					width: 100%; height: 100%; content: "";
				}//after
			}//slide-image
			
			h2 {
				padding: 5px 100px 20px 63%;
				font-size: 1.8em;
				line-height: 1em;
				color: #fff;
				text-decoration: none;

				a {
					color: #fff;

					&:hover {
						color: #fff;
						border-bottom: 1px solid #ff7f00;
					}
				}
			}
			
			p {
				padding: 0 2% 15px 63% !important;
				font-size: 1.15em;
				font-weight: 400;
				line-height: 1.4em;
				color: #fff !important;
				text-align: justify;
			
				@include break(tablet) {
					p { padding: 0 0 15px 60% !important; }
				}

				@include break(mobile) {
					font-size: 1.1em;
					margin: 0 0 15px 0 !important;
				}

				a {
					box-shadow: inset 0 -2px 0 #FBBB76;
					padding-bottom: 1px;

					&:hover {
						box-shadow: inset 0 -2px 0 #FBBB76;
						padding-bottom: 1px;
						color: #FBBB76;
					}
				}

				.vm-hook, .itxtrst, .itxtrstspan, .itxtrst span {
						color: #fff !important;
				}
			}
			
			@include break(tablet) {
				.slide-image { margin: 0 2% 0 0; }
				h2 { padding: 5px 100px 10px 60%; }
			}
			
		}//owl-item
		
		@include break(mobile) {
			.owl-item > li{
				.slide-image{float: none; width: 100%; margin: 0 0 10px 0;}
				h2{padding: 5px 100px 10px 0%;}
				p{padding: 5px 0 0 0%!important;}
			}//owl-item
		}
	}//slideshow

	.slideshow > li { list-style: none!important; }

}//slide-article


//Slide section

.owl-carousel .animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}
.owl-carousel .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.owl-height {
	-webkit-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel{
	display: none; width: 100%; -webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative; z-index: 1;
	
	.owl-stage{
		position: relative; -ms-touch-action: pan-Y;
		&:after{
			content: "."; display: block; clear: both; visibility: hidden;
			line-height: 0; height: 0;
		}//after
	}//owl-stage
	
	.owl-stage-outer{
		position: relative; overflow: hidden;
		/* fix for flashing background */
		-webkit-transform: translate3d(0px, 0px, 0px);
	}//owl-stage-outer
	
	.owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next, .owl-controls .owl-dot {
		cursor: pointer; cursor: hand;
		-webkit-user-select: none; -khtml-user-select: none;
		-moz-user-select: none;-ms-user-select: none; user-select: none;
	}//controls
	
	.owl-refresh .owl-item { display: none; }
	
	.owl-item{
		position: relative; min-height: 1px; float: left;
		-webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none; -webkit-user-select: none;
		-moz-user-select: none; -ms-user-select: none; user-select: none;
		img{
			display: block; width: auto; max-width: 100%; -webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}//img
		
		.owl-lazy{
			opacity: 0; -webkit-transition: opacity 400ms ease;
			-moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease;
			-o-transition: opacity 400ms ease; transition: opacity 400ms ease;
		}//owl-lazy
		
	}//owl-item
	
	.owl-grab{
		cursor: move; cursor: -webkit-grab; cursor: -o-grab;
		cursor: -ms-grab; cursor: grab;
	}//owl-grab
	
	.owl-video-wrapper{
		position: relative; height: 100%; background: #000;
	}//owl-video-wrapper
	
	.owl-video-play-icon{
		position: absolute; height: 80px; width: 80px; left: 50%;
		top: 50%; margin-left: -40px; margin-top: -40px;
		//background: url("owl.video.play.png") no-repeat;
		cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden;
		-webkit-transition: scale 100ms ease; -moz-transition: scale 100ms ease;
		-ms-transition: scale 100ms ease; -o-transition: scale 100ms ease;
		transition: scale 100ms ease;
		&:hover{
			-webkit-transition: scale(1.3, 1.3); -moz-transition: scale(1.3, 1.3);
			-ms-transition: scale(1.3, 1.3); -o-transition: scale(1.3, 1.3);
			transition: scale(1.3, 1.3);
		}//hover
	}//owl-video-play-icon
	
	.owl-video-playing .owl-video-tn, .owl-video-playing .owl-video-play-icon{ display: none; }
	
	.owl-video-tn{
		opacity: 0; height: 100%; background-position: center center;
		background-repeat: no-repeat; -webkit-background-size: contain;
		-moz-background-size: contain; -o-background-size: contain;
		background-size: contain; -webkit-transition: opacity 400ms ease;
		-moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease;
		-o-transition: opacity 400ms ease; transition: opacity 400ms ease;
	}//owl-video-tn
	
	.owl-video-frame{
		position: relative; z-index: 1;
	}//owl-video-frame
	
	.owl-dots{
		display: block; text-align: center; padding-top: 5px;
		.owl-dot{
			display: inline-block; margin: 0 6px;
			span{display: block; width: 5px; height: 5px; background: #ddd;}
			&.active{
				span{background: #ff7f00;}
			}//active
		}//owl-dot
	}//owl-dots
	
	&.owl-text-select-on .owl-item{
		-webkit-user-select: auto; -moz-user-select: auto;
		-ms-user-select: auto; user-select: auto;
	}//owl-text-select-on
	
	&.owl-loaded{ display: block; }
	&.owl-loading{ opacity: 0; display: block; }
	&.owl-hidden{ opacity: 0; }
	&.owl-rtl{
		direction: rtl;
		.owl-item{ float: right; }
	}
	
}//owl-carousel
.no-js .owl-carousel { display: block; }